@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Interfaces.Applications
@using ArchiveFqp.Models.DatabaseNotification
@using ArchiveFqp.Models.Search
@using ArchiveFqp.Models.Settings.SettingsArchive
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@inject SettingsArchive Settings
@inject IReferenceDataService RefDataService
@inject IApplicationsService ApplicationsService
@inject IJSRuntime JS
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode())
@attribute [Authorize]

@if (RendererInfo.IsInteractive)
{
    <div class="table-responsive">
        @if (result.Items.Count == 0)
        {
            <h5 class="fw-semibold mb-0 align-content-center">Заявлений пока нет</h5>
        }
        else
        {
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th style="width: 10%">Статус</th>
                        <th style="width: 50%">Атрибут</th>
                        <th style="width: 15%">Дата подачи</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ЗаявлениеАтрибута application in result.Items.Skip((result.CurrentPage - 1) * result.PageSize).Take(result.PageSize))
                    {
                        string status = applicationStatuses.First(x => x.IdСтатуса == application.IdСтатуса).Название;
                        <tr role="button" @onclick="@(() => selectedAttributeApplication = application)" data-bs-toggle="modal" data-bs-target="#@modalName">
                            <td>
                                <span class="badge @GetStatusBadgeClass(status) fs-6">
                                    @(status)
                                </span>
                            </td>
                            <td>@application.Название</td>
                            <td>@application.ДатаПоступления</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Пагинация -->
            <nav aria-label="Навигация по страницам" class="mt-4">
                <ul class="pagination justify-content-center mb-1">
                    <li class="page-item @(result.CurrentPage == 1 ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(1))">
                            <i class="bi bi-chevron-double-left"></i>
                        </button>
                    </li>
                    <li class="page-item @(result.CurrentPage == 1 ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(result.CurrentPage - 1))">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                    </li>

                    @for (int i = Math.Max(1, result.CurrentPage - 2); i <= Math.Min(result.TotalPages, result.CurrentPage + 2); i++)
                    {
                        int page = i;
                        <li class="page-item @(i == result.CurrentPage ? "active" : "")">
                            <button class="page-link" @onclick="@(() => ChangePage(page))">@i</button>
                        </li>
                    }

                    <li class="page-item @(result.CurrentPage == result.TotalPages ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(result.CurrentPage + 1))">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </li>
                    <li class="page-item @(result.CurrentPage == result.TotalPages ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(result.TotalPages))">
                            <i class="bi bi-chevron-double-right"></i>
                        </button>
                    </li>
                </ul>

                <div class="text-center mt-0 mb-0">
                    <small class="text-muted">
                        Страница @result.CurrentPage из @result.TotalPages
                    </small>
                </div>
            </nav>
        }

        <div class="modal fade" id="@modalName" tabindex="-1" aria-labelledby="attributeApplicationModalLabel" aria-hidden="true"
             data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="attributeApplicationModalLabel">Информация о заявлении</h5>
                        <button type="button" @onclick="@(() => selectedAttributeApplication = null)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @if (selectedAttributeApplication != null)
                        {
                            <Attribute AttributeApplication="selectedAttributeApplication"
                                       IsWritingMode="false"
                                       IsReviewMode="@IsReviewMode" />
                        }
                        else
                        {
                            <h5><strong>Заявление удалено</strong></h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    window.openModal = (modalId) => {
        const modalElement = document.getElementById(modalId);
        if (modalElement) {
            const modal = new bootstrap.Modal(modalElement);
            modal.show();
        }
    };

    window.closeModal = (modalId) => {
        const modalElement = document.getElementById(modalId);
        if (modalElement) {
            const modal = bootstrap.Modal.getInstance(modalElement);
            modal.hide();
        }
    };
</script>

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    [Parameter] public bool IsReviewMode { get; set; } = false;
    private PaginatedResult<ЗаявлениеАтрибута> result = null!;
    private ЗаявлениеАтрибута? selectedAttributeApplication;
    private List<СтатусЗаявления> applicationStatuses = null!;
    private string modalName = "attributeApplicationModal";

    private EventHandler<TableChangeEvent>? _tablesChangedHandler;
    JsonSerializerSettings settings = null!;

    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.IsInteractive)
        {
            result = new()
            {
                PageSize = 5,
                CurrentPage = 1
            };
            settings = new JsonSerializerSettings
            {
                ContractResolver = new DefaultContractResolver
                {
                    NamingStrategy = new SnakeCaseNamingStrategy()
                }
            };
            applicationStatuses = await ApplicationsService.GetApplicationsStatusesAsync();
            await GetAttributeApplications();
            _tablesChangedHandler = (s, e) => InvokeAsync(() => GetAttributeApplications(s, e));
            RefDataService.TablesChanged += _tablesChangedHandler;
        }
    }

    private async Task GetAttributeApplications()
    {
        result.Items = await ApplicationsService.GetAttributeApplicationsAsync();
        result.Items = await FilterApplications(result.Items);

        if (IsReviewMode)
            result.Items = result.Items.OrderBy(x => x.IdСтатуса).ThenBy(x => x.ДатаПоступления).ToList();
        else
            result.Items = result.Items.OrderByDescending(x => x.ДатаПоступления).ToList();

        StateHasChanged();
    }

    private async Task GetAttributeApplications(object? sender, TableChangeEvent e)
    {
        if (e.TableName == nameof(ЗаявлениеАтрибута))
        {
            await GetAttributeApplications();

            if (e.ChangeType == TableChangeType.Update)
            {
                ЗаявлениеАтрибута? app = JsonConvert.DeserializeObject<ЗаявлениеАтрибута>(e.New!.ToString(),
                    new JsonSerializerSettings
                    { ContractResolver = new DefaultContractResolver { NamingStrategy = new SnakeCaseNamingStrategy() } });
                if (app == null) return;

                // Если открыт просмотр заявления
                if (selectedAttributeApplication != null && selectedAttributeApplication.IdЗаявления == app.IdЗаявления)
                {
                    // то, если данные просматриваемого заявления не совпадают с полученными,
                    // то заявление обновилось - обновляем данные и переоткрываем модал
                    if (!selectedAttributeApplication.Equals(app))
                    {
                        selectedAttributeApplication = app;
                        await JS.InvokeVoidAsync("closeModal", modalName);
                        StateHasChanged();
                        await JS.InvokeVoidAsync("openModal", modalName);
                    }
                }
            }
        }
    }

    private async Task<List<ЗаявлениеАтрибута>> FilterApplications(List<ЗаявлениеАтрибута> app)
    {
        AuthenticationState? authState = await authenticationState!;
        ClaimsPrincipal user = authState!.User;

        int idUser = int.Parse(user.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value);
        List<ЗаявлениеАтрибута> filtered = app.Where(x => x.Новый == false).ToList();
        if (IsReviewMode)
        {
            if (user.IsInRole(Settings.RoleAdminName))
            {
                // Все заявления с новыми атрибутами и атрибутами на всю организацию
                filtered = app
                    .Where(x => x.IdИнститута == null && x.IdКафедры == null && x.IdНаправления == null && x.IdПрофиля == null)
                    .ToList();
                filtered.AddRange(app.Where(x => x.Новый == true));
                return filtered.DistinctBy(x => x.IdЗаявления).OrderBy(x => x.Новый).ToList();
            }

            Преподаватель? teacher = (await RefDataService.GetAsync<Преподаватель>())
                .FirstOrDefault(x => x.IdПользователя == idUser);

            if (teacher == null)
            {
                return [];
            }

            // Не даем проверить своё же заявление
            filtered = filtered.Where(x => x.IdПользователя != idUser).ToList();

            if (user.IsInRole(Settings.RoleInstituteResponsibleName))
            {
                return filtered
                    .Where(x => x.IdИнститута == teacher.IdИнститута).ToList();
            }

            List<int> idDirections = (await RefDataService.GetAsync<Направление>())
                .Where(x => x.IdКафедры == teacher.IdКафедры)
                .Select(x => x.IdНаправления).ToList();
            List<int> idProfiles = (await RefDataService.GetAsync<Профиль>())
                .Where(x => idDirections.Contains(x.IdНаправления))
                .Select(x => x.IdПрофиля).ToList();

            if (user.IsInRole(Settings.RoleDepartmentHeadName) || user.IsInRole(Settings.RoleDepartmentResponsibleName))
            {
                return filtered
                     .Where(x => x.IdИнститута == null
                         && (x.IdКафедры == teacher.IdКафедры ||
                             idDirections.Contains(x.IdНаправления ?? -1) ||
                             idProfiles.Contains(x.IdПрофиля ?? -1)))
                     .ToList();
            }

            return [];
        }
        else
        {
            if (user.IsInRole(Settings.RoleStudentName) || user.IsInRole(Settings.RoleTeacherName))
            {
                return filtered.Where(x => x.IdПользователя == idUser).ToList();
            }

            return [];
        }
    }


    private string GetStatusBadgeClass(string status)
    {
        return status.ToLower() switch
        {
            "на рассмотрении" => "bg-info",
            "отклонено" => "bg-danger",
            "принято" => "bg-success",
            _ => "bg-secondary"
        };
    }

    private async Task ChangePage(int page)
    {
        if (page < 1 || page > result.TotalPages) return;
        result.CurrentPage = page;
    }

    public void Dispose()
    {
        if (_tablesChangedHandler != null)
            RefDataService.TablesChanged -= _tablesChangedHandler;
    }
}