@using ArchiveFqp.Components.Components
@using ArchiveFqp.Interfaces.Applications
@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Interfaces.User
@using ArchiveFqp.Interfaces.Work
@using ArchiveFqp.Models.DTO.Teacher
@using ArchiveFqp.Models.DTO.User
@using ArchiveFqp.Models.DTO.WorkApplication
@using ArchiveFqp.Models.ReferenceData
@using ArchiveFqp.Models.Settings.SettingsArchive
@using ArchiveFqp.Services.Notifications
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject SettingsArchive Settings
@inject IWorkService WorkService
@inject IUserService UserService
@inject IApplicationsService ApplicationsService
@inject NotificationService NotificationService
@inject IReferenceDataService RefDataService
@inject IJSRuntime JS
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode())

@if (RendererInfo.IsInteractive)
{
    if (errorMessage != null && successMessage == null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    if (successMessage != null)
    {
        <div class="alert alert-success">@successMessage</div>
    }

    <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit" FormName="attributeApplicationAdd" @onkeydown="OnKeyDown">
        <DataAnnotationsValidator />
        <ValidationSummary class="alert alert-danger" />

        <!-- Основная информация -->
        <div class="col">
            @if (IsWritingMode)
            {
                <div class="row-md-6 mb-1">
                    <div class="form-check">
                        <InputCheckbox class="form-check-input"
                                       @bind-Value="attributeApplication.Новый"
                                       @bind-Value:after="ToggleNew"
                                       id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Новый атрибут
                        </label>
                    </div>
                </div>
                
                @if (!attributeApplication.Новый)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Атрибуты -->
                        <label class="form-label mb-0 mx-1 fw-bold">Атрибут <span class="text-danger">*</span></label>
                        <SearchableSelect TItem="Атрибут"
                                          TValue="int?"
                                          Items="@(attributes.OrderBy(x => x.Название))"
                                          TextSelector="@((s) => s.Название)"
                                          ValueSelector="@(s => s.IdАтрибута)"
                                          Placeholder="Выберите или введите существующий атрибут..."
                                          IsInvalid="attributeApplication.IdАтрибута == null && !attributeApplication.Новый"
                                          Disabled="attributeApplication.Новый"
                                          @bind-SelectedValue="@attributeApplication.IdАтрибута"
                                          @bind-SelectedValue:after="GetAttributeName"
                                          OnCustomValue="@(() => attributeApplication.IdАтрибута = null)" />
                    </div>
                }
                
                @if (attributeApplication.Новый)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Название -->
                        <label class="form-label mb-0 mx-1 fw-bold">Название <span class="text-danger">*</span></label>
                        <InputText class="form-control " @bind-Value="attributeApplication.Название"
                                   disabled="@(!attributeApplication.Новый)"
                                   placeholder="@(attributeApplication.Новый ? "Укажите название предложенного вами нового атрибута" : "")" />
                    </div>
                }

                <div class="row-md-6 mb-1">
                    <!-- Описание -->
                    <label class="form-label mb-0 mx-1 fw-bold">Описание <span class="text-danger">*</span></label>
                    <InputTextArea class="form-control " @bind-Value="attributeApplication.Описание"
                                   rows="3"
                                   placeholder="@(attributeApplication.Новый ? "Укажите обоснование добавления атрибута и описание того, что подразумевает под собой предложенный вами атрибут" : "Укажите обоснование добавления атрибута")" />
                </div>

                @if (attributeApplication.Новый)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Примеры -->
                        <label class="form-label mb-0 mx-1 fw-bold">Примеры <span class="text-danger">*</span></label>
                        <InputTextArea class="form-control" @bind-Value="attributeExamples"
                                       disabled="@(!attributeApplication.Новый)"
                                       @onfocusout="ToArrayExamples"
                                       rows="3"
                                       placeholder="Введите через запятую примеры данных" />
                    </div>
                }

                <!-- Тип работы -->
                <div class="row-md-6 mb-1">
                    <label class="form-label mb-0 mx-1 fw-bold">Тип работы</label>
                    <InputSelect class="form-select" @bind-Value="attributeApplication.IdТипаРаботы">
                        <option value="">Все типы</option>
                        @foreach (ТипРаботы type in snapshot.WorkTypes.OrderBy(x => x.Название))
                        {
                            <option value="@type.IdТипаРаботы">@type.Название</option>
                        }
                    </InputSelect>
                </div>

                <!-- Структуры -->
                <h5 class="mt-4 mb-0"><strong>На какую структуру добавить атрибут</strong></h5>
                <p class="fs-6 mt-0 mb-1 text-muted">Отсутствие выбранной структуры будет подразумевать за собой весь университет</p>
                <div class="row-md-6 mb-1">
                    <!-- Институт -->
                    <label class="form-label mb-0 mx-1 fw-bold">Институт</label>
                    <InputSelect class="form-select" @bind-Value="attributeApplication.IdИнститута"
                                 disabled="@(attributeApplication.IdПрофиля.HasValue || attributeApplication.IdКафедры.HasValue || attributeApplication.IdНаправления.HasValue)">
                        <option value="">Выберите институт</option>
                        @foreach (Институт i in snapshot.Institutes.OrderBy(x => x.Название))
                        {
                            <option value="@i.IdИнститута">@i.Название</option>
                        }
                    </InputSelect>
                </div>

                <div class="row-md-6 mb-1">
                    <!-- Кафедра -->
                    <label class="form-label mb-0 mx-1 fw-bold">Кафедра</label>
                    <InputSelectSctructure TItem="Кафедра"
                                           Items="snapshot.Departments.OrderBy(x => x.Название)"
                                           @bind-Value="attributeApplication.IdКафедры"
                                           Snapshot="snapshot"
                                           Disabled="@(attributeApplication.IdПрофиля.HasValue || attributeApplication.IdИнститута.HasValue || attributeApplication.IdНаправления.HasValue)" />
                </div>

                <div class="row-md-6 mb-1">
                    <!-- Направление -->
                    <label class="form-label mb-0 mx-1 fw-bold">Направление</label>
                    <InputSelectSctructure TItem="Направление"
                                           Items="snapshot.Directions.OrderBy(x => x.Название)"
                                           @bind-Value="attributeApplication.IdНаправления"
                                           Snapshot="snapshot"
                                           Disabled="@(attributeApplication.IdПрофиля.HasValue || attributeApplication.IdИнститута.HasValue || attributeApplication.IdКафедры.HasValue)" />
                </div>

                <div class="row-md-6 mb-1">
                    <!-- Профиль -->
                    <label class="form-label mb-0 mx-1 fw-bold">Профиль</label>
                    <InputSelectSctructure TItem="Профиль"
                                           Items="snapshot.Profiles.OrderBy(x => x.Название)"
                                           @bind-Value="attributeApplication.IdПрофиля"
                                           Snapshot="snapshot"
                                           Disabled="@(attributeApplication.IdКафедры.HasValue || attributeApplication.IdИнститута.HasValue || attributeApplication.IdНаправления.HasValue)" />
                </div>

                <div class="row-md-6">
                    <button type="submit" class="btn btn-success mt-3">
                        Подать заявку
                    </button>
                </div>
            }
            else
            {
                <div class="row-md-6 mb-1">
                    <!-- Новый атрибут -->
                    @{
                        string mes = attributeApplication.Новый
                        ? "Новый атрибут"
                        : "Имеющийся атрибут";
                        <h5><strong>@mes</strong></h5>
                    }
                </div>

                <div class="row-md-6">
                    <!-- Дата поступления -->
                    <label class="form-label mb-0 mx-1 fw-bold">Дата подачи</label>
                    <br />
                    <span class="mx-1">@(attributeApplication.ДатаПоступления)</span>
                </div>

                <div class="row-md-6 mb-1">
                    <!-- Атрибут -->
                    <label class="form-label mb-0 mx-1 fw-bold">Атрибут</label>
                    <br />
                    <span class="mx-1">@(attributeApplication.Название)</span>
                </div>

                <div class="row-md-6 mb-1">
                    <!-- Описание -->
                    <label class="form-label mb-0 mx-1 fw-bold">Описание</label>
                    <br />
                    <span class="mx-1">@(attributeApplication.Описание)</span>
                </div>

                @if (attributeApplication.Новый)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Примеры -->
                        <label class="form-label mb-0 mx-1 fw-bold">Примеры</label>
                        <br />
                        <span class="mx-1">@(string.Join(", ", attributeApplication.Примеры ?? ["Примеры отсутствуют"]))</span>
                    </div>
                }

                <!-- Структуры -->
                @if (attributeApplication.IdИнститута.HasValue)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Институт -->
                        <label class="form-label mb-0 mx-1 fw-bold">Институт</label>
                        <br />
                        <span class="mx-1 text-decoration-underline" style="cursor:default">
                            @(snapshot.Institutes
                                    .Find(x => x.IdИнститута == attributeApplication.IdИнститута)?.Название
                                    ?? "Институт не найден")
                        </span>
                    </div>
                }
                @if (attributeApplication.IdКафедры.HasValue)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Кафедра -->
                        <label class="form-label mb-0 mx-1 fw-bold">Кафедра</label>
                        <br />
                        <span class="mx-1 text-decoration-underline" style="cursor:default"
                              data-bs-toggle="tooltip" title="@(GetStructureInfo<Кафедра>(attributeApplication.IdКафедры!.Value))">
                            @(snapshot.Departments
                                    .Find(x => x.IdКафедры == attributeApplication.IdКафедры)?.Название
                                    ?? "Кафедра не найдена")
                        </span>
                    </div>
                }
                @if (attributeApplication.IdНаправления.HasValue)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Направление -->
                        <label class="form-label mb-0 mx-1 fw-bold">Направление</label>
                        <br />
                        <span class="mx-1 text-decoration-underline" style="cursor:default"
                              data-bs-toggle="tooltip" title="@(GetStructureInfo<Направление>(attributeApplication.IdНаправления!.Value))">
                            @(snapshot.Directions
                                    .Find(x => x.IdНаправления == attributeApplication.IdНаправления)?.Название
                                    ?? "Направление не найдено")
                        </span>
                    </div>
                }
                @if (attributeApplication.IdПрофиля.HasValue)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Профиль -->
                        <label class="form-label mb-0 mx-1 fw-bold">Профиль</label>
                        <br />
                        <span class="mx-1 text-decoration-underline" style="cursor:default"
                              data-bs-toggle="tooltip" title="@(GetStructureInfo<Профиль>(attributeApplication.IdПрофиля!.Value))">
                            @(snapshot.Profiles
                                    .Find(x => x.IdПрофиля == attributeApplication.IdПрофиля)?.Название
                                    ?? "Профиль не найден")
                        </span>
                    </div>
                }

                @if (IsReviewMode)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Заявитель -->
                        @{
                            string idModal = "userInfoModal" + attributeApplication.IdПользователя;
                            string idModalLabel = "userInfoModalLabel" + attributeApplication.IdПользователя;
                        }

                        <button type="button" class="btn btn-primary" @onclick="@(() => OpenModal(idModal))">
                            Заявитель
                        </button>
                    
                        <div class="modal fade" id="@idModal" tabindex="-1" aria-labelledby="@idModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="@idModalLabel">Информация о выбранной работе</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <UserInfo Teacher="teacherDisplay"
                                                  User="userDisplay"
                                                  @key="attributeApplication.IdПользователя" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                // Если статус не "На рассмотрении"
                @if (isAnswered)
                {
                    <div class="row-md-6">
                        <!-- Дата ответа -->
                        <label class="form-label mb-0 mx-1 fw-bold">Дата ответа</label>
                        <br />
                        <span class="mx-1">@(attributeApplication.ДатаОтвета)</span>
                    </div>

                    <div class="row-md-6">
                        <!-- Ответ -->
                        <label class="form-label mb-0 mx-1 fw-bold">Ответ</label>
                        <br />
                        <span class="mx-1">@(attributeApplication.Ответ)</span>
                    </div>

                    
                }
                else if (IsReviewMode)
                {
                    <div class="row-md-6 mb-1">
                        <!-- Ответ -->
                        <label class="form-label mb-0 mx-1 fw-bold">Ответ <span class="text-danger">*</span></label>
                        <InputTextArea class="form-control " @bind-Value="attributeApplication.Ответ"
                                       rows="3"
                                       placeholder="Опишите причину решения" />
                    </div>

                    <div class="row-md-3 mb-1">
                        <!-- Статус выдачи -->
                        <label class="form-label mb-0 mx-1 fw-bold">Вердикт <span class="text-danger">*</span></label>
                        <div class="col-md-5">
                            <InputSelect class="form-select" @bind-Value="attributeApplication.IdСтатуса">
                                @{
                                    int inReviewStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsInProcessStatus).IdСтатуса;
                                    int rejectStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsRejectStatus).IdСтатуса;
                                    int acceptStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsAcceptStatus).IdСтатуса;
                                    <option value="@inReviewStatusId">Выберите вердикт</option>
                                    <option value="@rejectStatusId">Отклонить</option>
                                    <option value="@acceptStatusId">Одобрить</option>
                                }
                            </InputSelect>
                        </div>
                    </div>

                    <div class="row-md-6">
                        <button type="submit" class="btn btn-success mt-3">
                            Отправить ответ
                        </button>
                    </div>
                }
            }
        </div>
    </EditForm>
}

<script>
        window.openModal = (modalId) => {
        const modalElement = document.getElementById(modalId);
        if (modalElement) {
            const modal = new bootstrap.Modal(modalElement);
            modal.show();
        }
    };
</script>

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    [Parameter] public int? WorkId { get; set; }
    [Parameter] public bool IsWritingMode { get; set; } = true;
    [Parameter] public bool IsReviewMode { get; set; } = false;
    [Parameter] public ЗаявлениеАтрибута? AttributeApplication { get; set; }
    private ЗаявлениеАтрибута attributeApplication = new();
    private string attributeExamples = "";
    private TeacherDisplayDto? teacherDisplay;
    private UserDisplayDto? userDisplay;
    private List<СтатусЗаявления> applicationStatuses = null!;
    private List<Атрибут> attributes = null!;
    private int currentStatusId;
    private bool isAnswered = false;

    private ReferenceDataSnapshot snapshot = new();
    InputSelectSctructure<Кафедра>? issDep;
    InputSelectSctructure<Направление>? issDir;
    InputSelectSctructure<Профиль>? issProf;

    EditContext? editContext;
    ValidationMessageStore? messageStore;
    private string? errorMessage;
    private string? successMessage;

    protected override async Task OnInitializedAsync()
    {
        if (AttributeApplication != null) attributeApplication = AttributeApplication;

        snapshot = await RefDataService.GetSnapshotAsync();
        attributes = await WorkService.GetAllAttributesAsync();
        applicationStatuses = await ApplicationsService.GetApplicationsStatusesAsync();
        currentStatusId = attributeApplication.IdСтатуса;
        isAnswered = currentStatusId != applicationStatuses
            .First(w => w.Название == Settings.ApplicationsInProcessStatus)
                .IdСтатуса;

        editContext = new(attributeApplication);
        messageStore = new(editContext);
        editContext.OnValidationStateChanged += HandleValidationRequested;
    }


    private string GetStructureInfo<T>(int id) where T : class
    {
        switch (typeof(T).Name)
        {
            case nameof(Кафедра):
                issDep ??= new(RefDataService, snapshot);
                return issDep.GetStructureInfo<T>(id);
            case nameof(Направление):
                issDir ??= new(RefDataService, snapshot);
                return issDir.GetStructureInfo<T>(id);
            case nameof(Профиль):
                issProf ??= new(RefDataService, snapshot);
                return issProf.GetStructureInfo<T>(id);
        }
        return "";
    }

    protected override async Task OnParametersSetAsync()
    {
        if (AttributeApplication != null) attributeApplication = AttributeApplication;

        currentStatusId = attributeApplication.IdСтатуса;
        isAnswered = currentStatusId != applicationStatuses
            .First(w => w.Название == Settings.ApplicationsInProcessStatus)
                .IdСтатуса;
    }

    private void ToggleNew()
    {
        attributeApplication.IdАтрибута = null;
        attributeApplication.Название = "";
    }

    private async Task OpenModal(string modal)
    {
        await JS.InvokeVoidAsync("openModal", modal);
        userDisplay = await UserService.GetUserDisplayAsync(attributeApplication.IdПользователя);
        teacherDisplay = await UserService.GetTeacherDisplayAsync(attributeApplication.IdПользователя);
    }

    private void ToArrayExamples()
    {
        attributeExamples = attributeExamples.Trim();
        if (string.IsNullOrWhiteSpace(attributeExamples))
        {
            attributeApplication.Примеры = null;
            return;
        }
        attributeApplication.Примеры = attributeExamples.Split(',')
        .Select(x => x.Trim())
        .Where(x => !string.IsNullOrEmpty(x))
        .ToArray();
        attributeExamples = string.Join(',', attributeApplication.Примеры);
    }

    private void GetAttributeName()
    {
        attributeApplication.Название = attributes
            .FirstOrDefault(x => x.IdАтрибута == attributeApplication.IdАтрибута)?.Название ?? "";
    }

    private async Task HandleValidSubmit()
    {
        errorMessage = successMessage = null;
        if (!IsReviewMode)
        {
            await AddAttributeApplication();
        }
        else
        {
            await AddAnswer();
        }
    }

    private void HandleValidationRequested(object? sender, ValidationStateChangedEventArgs args)
    {
        successMessage = null;
        messageStore?.Clear();

#pragma warning disable CS8603 // Возможно, возврат ссылки, допускающей значение NULL.
        if (!IsReviewMode)
            if (attributeApplication.Новый)
            {
                if (string.IsNullOrWhiteSpace(attributeApplication.Название))
                {
                    messageStore?.Add(() => attributeApplication.Название, "Введите название атрибута");
                }
                else if (attributeApplication.Название.Length < 3)
                {
                    messageStore?.Add(() => attributeApplication.Название, "Минимальная длина названия 3 символа");
                }
                if (attributeApplication.Примеры == null || attributeApplication.Примеры.Count() == 0)
                {
                    messageStore?.Add(() => attributeApplication.Примеры, "Введите примеры");
                }
            }
            else
            {
                if (attributeApplication.IdАтрибута == null)
                {
                    messageStore?.Add(() => attributeApplication.IdАтрибута, "Выберите атрибут");
                }
            }
        else
        {
            int inReviewStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsInProcessStatus).IdСтатуса;
            int rejectStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsRejectStatus).IdСтатуса;
            errorMessage = null;
            if (attributeApplication.IdСтатуса == inReviewStatusId)
            {
                messageStore?.Add(() => attributeApplication.IdСтатуса, "Выберите вердикт");
            }
            // Если происходит отказ, то необходимо объяснение отказа
            if (string.IsNullOrWhiteSpace(attributeApplication.Ответ)
                && attributeApplication.IdСтатуса == rejectStatusId)
            {
                messageStore?.Add(() => attributeApplication.Ответ, "Введите объяснение отказа");
            }
        }
#pragma warning restore CS8603
    }

    private async Task AddAttributeApplication()
    {
        try
        {
            AuthenticationState? authState = await authenticationState!;
            ClaimsPrincipal user = authState!.User;

            int idUser = int.Parse(user.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value);
            attributeApplication.IdПользователя = idUser;
            attributeApplication.IdСтатуса = (await ApplicationsService.GetApplicationsStatusesAsync())
                    .First(ws => ws.Название == Settings.ApplicationsInProcessStatus).IdСтатуса;

            await ApplicationsService.AddAttributeApplication(attributeApplication);

            await SendNotificationToReviewersAsync();

            successMessage = "Заявление успешно отправлено!";
            attributeApplication = new();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = $"Ошибка при отправке: {ex.Message}";
        }
    }

    private async Task AddAnswer()
    {
        try
        {
            if (!(await ApplicationsService.AddAnswerAttributeApplication(attributeApplication)))
            {
                errorMessage = "Заявление не найдено, либо удалено";
            }
            else
            {
                if (attributeApplication.IdСтатуса == applicationStatuses.First(w => w.Название == Settings.ApplicationsAcceptStatus).IdСтатуса)
                {
                    await ApplicationsService.CompleteAttributeApplication(attributeApplication);
                    successMessage = "Атрибут успешно добавлен!";
                }
                else
                    successMessage = "Ответ успешно отправлен!";

                await SendNotificationToSenderAsync();
            }

            isAnswered = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = $"Ошибка при отправке: {ex.Message}";
        }
    }

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            return;
        }
    }

    private async Task Send(int id, string title, string message, string url)
    {
        await NotificationService.SendToUserAsync(id.ToString(), title, message, url);
    }

    private async Task SendNotificationToSenderAsync()
    {
        string title = "Заявления на добавление атрибута";
        СтатусЗаявления status = (await ApplicationsService.GetApplicationsStatusesAsync()).First(x => x.IdСтатуса == attributeApplication.IdСтатуса);
        string message = $"Ваше заявление на добавление атрибута \"{attributeApplication.Название}\" было "
            + (status.Название == Settings.ApplicationsActiveStatus
            ? "одобрено."
            : "отклонено.");

        await Send(attributeApplication!.IdПользователя, title, message, "works/applications/send");
    }

    private async Task SendNotificationToReviewersAsync()
    {
        string title = "Заявления на добавление атрибута";
        string message = $"Было добавлено заявление на добавление атрибута \"{attributeApplication.Название}\"";

        List<string> rolesReviewers = [Settings.RoleDepartmentResponsibleName, Settings.RoleDepartmentHeadName,
            Settings.RoleInstituteResponsibleName, Settings.RoleAdminName];

        List<UserDisplayDto> appReviewers = (await UserService.GetUsersByRolesAsync(rolesReviewers)).ToList();
        List<int> idReviewers = [];
        List<int> idAdmins = appReviewers
            .Where(x => x.Роли.Contains(Settings.RoleAdminName))
            .Select(x => x.Пользователь.IdПользователя)
            .ToList();
        List<int> idInstituteRespnsible = appReviewers
            .Where(x => x.Роли.Contains(Settings.RoleInstituteResponsibleName)
                    && x.Пользователь.IdПользователя != attributeApplication!.IdПользователя)
            .Select(x => x.Пользователь.IdПользователя)
            .ToList();
        List<int> idDepartmentReviewers = appReviewers
            .Where(x => (x.Роли.Contains(Settings.RoleDepartmentResponsibleName) 
                    || x.Роли.Contains(Settings.RoleDepartmentHeadName))
                    && x.Пользователь.IdПользователя != attributeApplication!.IdПользователя)
            .Select(x => x.Пользователь.IdПользователя)
            .ToList();

        if ((attributeApplication.IdИнститута.HasValue == attributeApplication.IdКафедры.HasValue
            == attributeApplication.IdНаправления.HasValue == attributeApplication.IdПрофиля.HasValue == false)
            || attributeApplication.Новый == true)
        {
            idReviewers.AddRange(idAdmins);
        }
        else
        {
            idReviewers.AddRange((await UserService.GetTeacherDisplayAsync(idInstituteRespnsible))
                .Where(x => x.Структура.Институт.IdИнститута == attributeApplication.IdИнститута)
                .Select(x => x.Пользователь.Пользователь.IdПользователя)
                .ToList());
            idReviewers.AddRange((await UserService.GetTeacherDisplayAsync(idDepartmentReviewers))
            .Where(x => x.Структура.Кафедра.IdКафедры == attributeApplication.IdКафедры)
            .Select(x => x.Пользователь.Пользователь.IdПользователя)
            .ToList());
        }
        
        IEnumerable<Task> tasks = appReviewers.Select(x => Send(x.Пользователь.IdПользователя, title, message, "works/applications/review"));
        await Task.WhenAll(tasks);
    }

    public void Dispose()
    {
        if (!string.IsNullOrWhiteSpace(successMessage))
            AttributeApplication?.IdСтатуса = currentStatusId;

        if (editContext != null)
            editContext.OnValidationStateChanged -= HandleValidationRequested;
    }
}
