@using ArchiveFqp.Models.DTO.Student
@using ArchiveFqp.Models.DTO.Teacher
@using ArchiveFqp.Models.DTO.User


<div class="container mt-4">
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">
                <i class="bi bi-person me-2"></i>
                @UserName
            </h4>
        </div>
        <div class="card-body">
            <p class="mb-1">
                <strong>Роли:</strong><br>
                @(string.Join(", ", UserRoles))
            </p>
            @if (Teacher != null)
            {
                <p class="mb-1">
                    <strong>Институт:</strong><br>
                    @Teacher.Структура.Институт.Название
                </p>
                <p class="mb-1">
                    <strong>Кафедра:</strong><br>
                    @Teacher.Структура.Кафедра.Название
                </p>
                <p class="mb-1">
                    <strong>Должность:</strong><br>
                    @Teacher.Должность
                </p>
            }
            @if (Student != null)
            {
                <p class="mb-1">
                    <strong>Год выпуска:</strong><br>
                    @Student.ГодОкончания
                </p>
                <p class="mb-1">
                    <strong>Институт:</strong><br>
                    @Student.Структура.Институт.Название
                </p>
                <p class="mb-1">
                    <strong>Стандарт УГСН:</strong><br>
                    @Student.Структура.УгснСтандарт.Название
                </p>
                <p class="mb-1">
                    <strong>УГСН:</strong><br>
                    @Student.Структура.Угсн.Название
                </p>
                <p class="mb-1">
                    <strong>Кафедра:</strong><br>
                    @Student.Структура.Кафедра.Название
                </p>
                <p class="mb-0">
                    <strong>Направление:</strong><br>
                    @Student.Структура.Направление.Название
                </p>
                @if (Student.Структура.Профиль != null && !string.IsNullOrEmpty(Student.Структура.Профиль.Название))
                {
                    <p class="mb-1">
                        <strong>Профиль:</strong><br>
                        @Student.Структура.Профиль.Название
                    </p>
                }
                <p class="mb-1">
                    <strong>Уровень образования:</strong><br>
                    @Student.УровеньОбразования
                </p>
                <p class="mb-1">
                    <strong>Форма образования:</strong><br>
                    @Student.ФормаОбучения
                </p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string UserName { get; set; } = "Гость";
    [Parameter] public List<string> UserRoles { get; set; } = ["Пользователь"];
    [Parameter] public StudentDisplayDto? Student { get; set; }
    [Parameter] public TeacherDisplayDto? Teacher { get; set; }
    [Parameter] public UserDisplayDto? User { get; set; }

    protected override void OnParametersSet()
    {
        if (Student != null)
        {
            UserName = Student.Пользователь.ФИО;
            UserRoles = Student.Пользователь.Роли;
        }
        else if (Teacher != null)
        {
            UserName = Teacher.Пользователь.ФИО;
            UserRoles = Teacher.Пользователь.Роли;
        }
        else if (User != null)
        {
            UserName = User.ФИО;
            UserRoles = User.Роли;
        }
    }
}
