@using ArchiveFqp.Components.Pages.Auth
@using ArchiveFqp.Models.Settings.SettingsArchive
@inject SettingsArchive Settings

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi-mortarboard" style="font-size: 2rem; color: whitesmoke; margin-right:1rem"></span>Реестр ВКР АГТУ
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="height:auto">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="works/gallery" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Работы
            </NavLink>
        </div>

        @{
            string roles = $"{Settings.RoleAdminName}, {Settings.RoleDepartmentHeadName}, "
                            + $"{Settings.RoleDepartmentResponsibleName}, {Settings.RoleInstituteResponsibleName}, ";
        }
        <AuthorizeView Roles="@roles">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="works/add" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Добавить работу
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link lh-1" href="works/applications/review" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Проверка заявлений работ
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link lh-1" href="works/attributes/review" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Проверка заявлений атрибутов
                </NavLink>
            </div>
        </AuthorizeView>
        
        <AuthorizeView Roles="@($"{Settings.RoleTeacherName}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-1" href="works/attributes/send" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Заявления на добавление атрибутов
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="@($"{Settings.RoleTeacherName}, {Settings.RoleStudentName}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-1" href="works/applications/send" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Заявления на просмотр работ
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="@($"{Settings.RoleAdminName}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-1" href="admin" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Админ-панель
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div> *@

<div class="sidebar">
    <div class="sidebar-brand">
        <div class="d-flex align-items-center justify-content-center pt-3 pb-2">
            <div class="brand-icon">
                <i class="bi bi-mortarboard fs-1 text-white"></i>
            </div>
            <div class="brand-text ms-2">
                <span class="text-white fw-bold">Реестр ВКР</span>
                <small class="text-white-50 d-block">АГТУ</small>
            </div>
        </div>
    </div>
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="height:auto">
        <div class="nav flex-column">
            <!-- Главная -->
            <div class="nav-item">
                <NavLink class="nav-link d-flex align-items-center" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-house-door-fill me-3 fs-5"></i>
                    <span class="lh-1">Главная</span>
                </NavLink>
            </div>

            <!-- Работы -->
            <div class="nav-item">
                <NavLink class="nav-link d-flex align-items-center" href="works/gallery" Match="NavLinkMatch.All">
                    <i class="bi bi-collection-fill me-3 fs-5"></i>
                    <span class="lh-1">Работы</span>
                </NavLink>
            </div>

            <!-- Разделы для авторизованных пользователей -->
            @{
                string administrativeRoles = $"{Settings.RoleAdminName}, {Settings.RoleInstituteResponsibleName}, "
                                            + $"{Settings.RoleDepartmentHeadName}, {Settings.RoleDepartmentResponsibleName}";
            }
            
            <!-- Для преподавателей и студентов -->
            <AuthorizeView Roles="@($"{Settings.RoleTeacherName}, {Settings.RoleStudentName}")">
                <div class="nav-item mb-0">
                    <NavLink class="nav-link d-flex align-items-center" href="works/applications/send">
                        <i class="bi bi-eye-fill me-3 fs-5"></i>
                        <span class="lh-1">Запросы на просмотр</span>
                    </NavLink>
                </div>
            </AuthorizeView>

            <!-- Для преподавателей -->
            <AuthorizeView Roles="@($"{Settings.RoleTeacherName}")">
                <hr class="sidebar-divider mt-0" />
                <div class="sidebar-heading mt-0">
                    <span class="text-uppercase small fw-bold lh-1">Атрибуты</span>
                </div>

                <div class="nav-item mb-0">
                    <NavLink class="nav-link d-flex align-items-center" href="works/attributes/send">
                        <i class="bi bi-send-fill me-3 fs-5"></i>
                        <span class="lh-1">Заявки на атрибуты</span>
                    </NavLink>
                </div>
            </AuthorizeView>

            <AuthorizeView Roles="@administrativeRoles">
                <hr class="sidebar-divider mt-0" />
                <div class="sidebar-heading mt-0">
                    <span class="text-uppercase small fw-bold lh-1">Управление</span>
                </div>

                <!-- Добавить работу -->
                <div class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center" href="works/add">
                        <i class="bi bi-plus-circle-fill me-3 fs-5"></i>
                        <span class="lh-1">Добавить работу</span>
                    </NavLink>
                </div>

                <!-- Проверка заявлений работ -->
                <div class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center" href="works/applications/review">
                        <i class="bi bi-envelope-paper-fill me-3 fs-5"></i>
                        <span class="lh-1">Заявления на работы</span>
                    </NavLink>
                </div>

                <!-- Проверка заявлений атрибутов -->
                <div class="nav-item mb-0">
                    <NavLink class="nav-link d-flex align-items-center" href="works/attributes/review">
                        <i class="bi bi-tags-fill me-3 fs-5"></i>
                        <span class="lh-1">Заявления на атрибуты</span>
                    </NavLink>
                </div>
            </AuthorizeView>

            <AuthorizeView Roles="@($"{Settings.RoleAdminName}, {Settings.RoleInstituteResponsibleName}, {Settings.RoleDepartmentHeadName}, {Settings.RoleDepartmentResponsibleName}")">
                <hr class="sidebar-divider mt-0" />
                <div class="sidebar-heading mt-0">
                    <span class="text-uppercase small fw-bold lh-1">Администрирование</span>
                </div>
            </AuthorizeView>

            <!-- Только для администратора -->
            <AuthorizeView Roles="@($"{Settings.RoleAdminName}")">
                <div class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center" href="admin">
                        <i class="bi bi-shield-lock-fill me-3 fs-5"></i>
                        <span class="lh-1">Админ-панель</span>
                    </NavLink>
                </div>
            </AuthorizeView>

            <!-- Только для ответственного института -->
            <AuthorizeView Roles="@($"{Settings.RoleInstituteResponsibleName}")">
                <div class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center" href="institute">
                        <i class="bi bi-shield-lock-fill me-3 fs-5"></i>
                        <span class="lh-1">Панель инсититута</span>
                    </NavLink>
                </div>
            </AuthorizeView>

            <!-- Только для завкафедрой и ответственного кафедры -->
            <AuthorizeView Roles="@($"{Settings.RoleDepartmentHeadName}, {Settings.RoleDepartmentResponsibleName}")">
                <div class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center" href="department">
                        <i class="bi bi-shield-lock-fill me-3 fs-5"></i>
                        <span class="lh-1">Панель кафедры</span>
                    </NavLink>
                </div>
            </AuthorizeView>
        </div>
    </div>

    <div class="sidebar-footer">
        <div class="small text-white-50 text-center py-2 mt-0">
            <i class="bi bi-c-circle"></i> 2026 АГТУ
        </div>
    </div>
</div>