@using ArchiveFqp.Interfaces.User
@using ArchiveFqp.Models.DTO.WorkApplication
@using ArchiveFqp.Models.DatabaseNotification
@using ArchiveFqp.Models.Search
@using ArchiveFqp.Models.Settings.SettingsArchive
@using ArchiveFqp.Interfaces.Applications
@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Interfaces.Work
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@inject IReferenceDataService RefDataService
@inject IApplicationsService ApplicationsService
@inject IUserService UserService
@inject SettingsArchive Settings
@inject IJSRuntime JS
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode())
@attribute [Authorize]

@if (RendererInfo.IsInteractive)
{
    <div class="table-responsive">
        @if (result.Items.Count == 0)
        {
            <h5 class="fw-semibold mb-0 align-content-center">Заявлений пока нет</h5>
        }
        else
        {
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th style="width: 10%">Статус</th>
                        <th style="width: 50%">Работа</th>
                        <th style="width: 15%">Дата подачи</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WorkApplicationDto application in result.Items.Skip((result.CurrentPage - 1) * result.PageSize).Take(result.PageSize))
                    {
                        <tr role="button" @onclick="@(() => selectedWorkApplicationDto = application)" data-bs-toggle="modal" data-bs-target="#@modalName">
                            <td>
                                <span class="badge @GetStatusBadgeClass(application.Статус) fs-6">
                                    @(application.Статус)
                                </span>
                            </td>
                            <td>@application.Работа.Тема</td>
                            <td>@application.ДатаПоступления</td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Пагинация -->
            <nav aria-label="Навигация по страницам" class="mt-4">
                <ul class="pagination justify-content-center mb-1">
                    <li class="page-item @(result.CurrentPage == 1 ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(1))">
                            <i class="bi bi-chevron-double-left"></i>
                        </button>
                    </li>
                    <li class="page-item @(result.CurrentPage == 1 ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(result.CurrentPage - 1))">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                    </li>

                    @for (int i = Math.Max(1, result.CurrentPage - 2); i <= Math.Min(result.TotalPages, result.CurrentPage + 2); i++)
                    {
                        int page = i;
                        <li class="page-item @(i == result.CurrentPage ? "active" : "")">
                            <button class="page-link" @onclick="@(() => ChangePage(page))">@i</button>
                        </li>
                    }

                    <li class="page-item @(result.CurrentPage == result.TotalPages ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(result.CurrentPage + 1))">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </li>
                    <li class="page-item @(result.CurrentPage == result.TotalPages ? "disabled" : "")">
                        <button class="page-link" @onclick="@(() => ChangePage(result.TotalPages))">
                            <i class="bi bi-chevron-double-right"></i>
                        </button>
                    </li>
                </ul>

                <div class="text-center mt-0 mb-0">
                    <small class="text-muted">
                        Страница @result.CurrentPage из @result.TotalPages
                    </small>
                </div>
            </nav>
        }
        <div class="modal fade" id="@modalName" tabindex="-1" aria-labelledby="workApplicationModalLabel" aria-hidden="true"
             data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="workApplicationModalLabel">Информация о заявлении</h5>
                        <button type="button" @onclick="@(() => selectedWorkApplicationDto = null)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @if (selectedWorkApplicationDto != null)
                        {
                            <WorkApplication WorkApplicationDto="selectedWorkApplicationDto"
                                             IsWritingMode="false"
                                             IsReviewMode="@IsReviewMode"
                                             @key="selectedWorkApplicationDto.IdПользователя.ToString() + selectedWorkApplicationDto.IdРаботы.ToString()" />
                        }
                        else
                        {
                            <h5><strong>Заявление удалено</strong></h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
        window.openModal = (modalId) => {
        const modalElement = document.getElementById(modalId);
        if (modalElement) {
            const modal = new bootstrap.Modal(modalElement);
            modal.show();
        }
    };

    window.closeModal = (modalId) => {
        const modalElement = document.getElementById(modalId);
        if (modalElement) {
            const modal = bootstrap.Modal.getInstance(modalElement);
            modal.hide();
        }
    };
</script>

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    [Parameter] public bool IsReviewMode { get; set; } = false;
    private PaginatedResult<WorkApplicationDto> result = null!;
    private List<ЗаявлениеРаботы> workApplications = new();
    private WorkApplicationDto? selectedWorkApplicationDto;
    private string modalName = "workApplicationModal";

    private EventHandler<TableChangeEvent>? _tablesChangedHandler;

    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.IsInteractive)
        {
            result = new()
            {
                PageSize = 5,
                CurrentPage = 1
            };

            await GetWorkApplications();
            _tablesChangedHandler = (s, e) => InvokeAsync(() => GetWorkApplications(s, e));
            RefDataService.TablesChanged += _tablesChangedHandler;
        }
    }

    private async Task GetWorkApplications()
    {
        workApplications = await ApplicationsService.GetWorkApplicationsAsync();
        IEnumerable<Task<WorkApplicationDto>> tasks = workApplications
            .Select(app => ApplicationsService.GetWorkApplicationAsync(app));
        WorkApplicationDto[] dtos = await Task.WhenAll(tasks);

        result.Items = await FilterApplications(dtos.ToList());

        if (IsReviewMode)
            result.Items = result.Items.OrderBy(x => x.IdСтатуса).ThenBy(x => x.ДатаПоступления).ToList();
        else
            result.Items = result.Items.OrderByDescending(x => x.ДатаПоступления).ToList();
        StateHasChanged();
    }

    private async Task<List<WorkApplicationDto>> FilterApplications(List<WorkApplicationDto> app)
    {
        AuthenticationState? authState = await authenticationState!;
        ClaimsPrincipal user = authState!.User;

        int idUser = int.Parse(user.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value);
        List<WorkApplicationDto> filtered = new(app);
        if (IsReviewMode)
        {
            if (user.IsInRole(Settings.RoleAdminName)) return app;

            Преподаватель? teacher = (await UserService.GetTeacherAsync(idUser)).FirstOrDefault(x => x.Активно == true);

            if (teacher == null)
            {
                return [];
            }

            // Не даем проверить своё же заявление
            filtered = filtered.Where(x => x.IdПользователя != idUser).ToList();

            if (user.IsInRole(Settings.RoleInstituteResponsibleName))
            {
                return filtered
                    .Where(x => x.Работа.Студент.Структура.Институт.IdИнститута == teacher.IdИнститута
                        && // Даем проверять заявления, доступные для всех или выше кафедры
                        (x.Работа.ДоступРаботы.Название == Settings.WorkAccessOrganization
                        || x.Работа.ДоступРаботы.Название == Settings.WorkAccessInstitute
                        || x.Работа.ДоступРаботы.Название == Settings.WorkAccessAll)
                    ).ToList();
            }

            if (user.IsInRole(Settings.RoleDepartmentHeadName) || user.IsInRole(Settings.RoleDepartmentResponsibleName))
            {
                return filtered
                    .Where(x => x.Работа.Студент.Структура.Кафедра.IdКафедры == teacher.IdКафедры).ToList();
            }

            return [];
        }
        else
        {
            if (user.IsInRole(Settings.RoleStudentName) || user.IsInRole(Settings.RoleTeacherName))
            {
                return filtered.Where(x => x.IdПользователя == idUser).ToList();
            }

            return [];
        }
    }

    private async Task GetWorkApplications(object? sender, TableChangeEvent e)
    {
        if (e.TableName == nameof(ЗаявлениеРаботы))
        {
            await GetWorkApplications();
            // Если открыт просмотр заявления
            if (e.ChangeType == TableChangeType.Update)
            {
                ЗаявлениеРаботы? app = JsonConvert.DeserializeObject<ЗаявлениеРаботы>(e.New!.ToString(),
                    new JsonSerializerSettings
                    { ContractResolver = new DefaultContractResolver { NamingStrategy = new SnakeCaseNamingStrategy() } });
                if (app == null) return;

                if (selectedWorkApplicationDto != null && selectedWorkApplicationDto.IdЗаявления == app.IdЗаявления)
                {
                    // то, если данные просматриваемого заявления не совпадают с полученными,
                    // значит заявление обновилось - обновляем данные и переоткрываем модал
                    WorkApplicationDto? appDto = result.Items.FirstOrDefault(x => x.IdЗаявления == selectedWorkApplicationDto.IdЗаявления);
                    if (!selectedWorkApplicationDto.Equals(appDto))
                    {
                        selectedWorkApplicationDto = appDto;
                        await JS.InvokeVoidAsync("closeModal", modalName);
                        StateHasChanged();
                        await JS.InvokeVoidAsync("openModal", modalName);
                    }
                }
            }
        }
    }

    private string GetStatusBadgeClass(string status)
    {
        return status.ToLower() switch
        {
            "на рассмотрении" => "bg-info",
            "отклонено" => "bg-danger",
            "активно" => "bg-success",
            "завершено" => "bg-secondary",
            _ => "bg-secondary"
        };
    }

    private async Task ChangePage(int page)
    {
        if (page < 1 || page > result.TotalPages) return;
        result.CurrentPage = page;
    }

    public void Dispose()
    {
        if (_tablesChangedHandler != null)
            RefDataService.TablesChanged -= _tablesChangedHandler;
    }
}