@using ArchiveFqp.Components.Components
@using ArchiveFqp.Interfaces.Settings
@using ArchiveFqp.Interfaces.User
@using ArchiveFqp.Models.DTO.Structure
@using ArchiveFqp.Models.DTO.Work
@using ArchiveFqp.Models.DTO.WorkApplication
@using ArchiveFqp.Models.Settings.Department
@using ArchiveFqp.Models.Settings.SettingsArchive
@using ArchiveFqp.Interfaces.Applications
@using ArchiveFqp.Interfaces.Work
@using ArchiveFqp.Models.Settings.User
@using ArchiveFqp.Services.Notifications
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject SettingsArchive Settings
@inject ISettingsService SettingsService
@inject IWorkService WorkService
@inject IUserService UserService
@inject IApplicationsService ApplicationsService
@inject NotificationService NotificationService
@inject IJSRuntime JS
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode())

@if (RendererInfo.IsInteractive && editContext != null)
{
    if (errorMessage != null && successMessage == null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    if (successMessage != null)
    {
        <div class="alert alert-success">@successMessage</div>
    }

    <EditForm EditContext="editContext" OnValidSubmit="@HandleValidSubmit" FormName="workApplicationAdd" @onkeydown="OnKeyDown">
        <DataAnnotationsValidator />
        <ValidationSummary class="alert alert-danger" />

        <!-- Основная информация -->
        <div class="col">
            <div class="row-md-6 mb-1">
                @if (workApplicationDto.IdРаботы.HasValue)
                {
                    string idModal = "workModal" + workApplicationDto.IdРаботы;
                    string idModalLabel = "workModalLabel" + workApplicationDto.IdРаботы;

                    <button type="button" class="btn btn-primary" @onclick="@(() => OpenModal(idModal))">
                        Выбранная работа
                    </button>

                    <div class="modal fade" id="@idModal" tabindex="-1" aria-labelledby="@idModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="@idModalLabel">Информация о выбранной работе</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body pt-0">
                                    <WorkDetails IdWork="workApplicationDto.IdРаботы" ShowExtraButtons="false" @key="workApplicationDto.IdРаботы" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <a class="btn btn-outline-primary" href="/works/gallery">
                        Выбрать работу
                    </a>
                }
            </div>

            <!-- Написание заявления -->
            @if (IsWritingMode)
            {
                <!-- Цель -->
                <div class="row-md-6 mb-1">
                    <label class="form-label mb-0 mx-1 fw-bold">Цель <span class="text-danger">*</span></label>
                    <InputTextArea class="form-control " @bind-Value="workApplicationDto.Цель"
                                   disabled="@(workApplicationDto.IdРаботы == null)"
                                   rows="3"
                                   placeholder="Укажите цель получения работы (изучение, научное исследование и т.д.)..." />
                </div>

                <!-- Дата возврата по заявлению -->
                <div class="row">
                    <label class="form-label mb-0 mx-1 fw-bold">Дата окончания просмотра <span class="text-danger">*</span></label>
                    <div class="col-auto">
                        <input type="date" class="form-control" @bind="workApplicationDto.ДатаВозврПоЗаявл"
                               disabled="@(workApplicationDto.IdРаботы == null)"
                               placeholder="Выберите дату"
                               min="@(DateTime.Now.AddDays(Settings.MinDayWatchWorks).ToString("yyyy-MM-dd"))" max="@(DateTime.Now.AddDays(Settings.MaxDayWatchWorks).ToString("yyyy-MM-dd"))" />
                    </div>
                </div>

                <div class="row-md-6">
                    <button type="submit" class="btn btn-success mt-3" disabled="@(workApplicationDto.IdРаботы == null || isSubmitting)">
                        Подать заявку
                    </button>
                </div>
            }
            // Просмотр заявления
            else
            {
                <!-- Цель -->
                <div class="row-md-6 mb-1">
                    <label class="form-label mb-0 mx-1 fw-bold">Цель</label>
                    <br />
                    <span class="mx-1">@(workApplicationDto.Цель)</span>
                </div>

                <!-- Дата поступления -->
                <div class="row-md-6">
                    <label class="form-label mb-0 mx-1 fw-bold">Дата подачи</label>
                    <br />
                    <span class="mx-1">@(workApplicationDto.ДатаПоступления)</span>
                </div>

                <!-- Дата возврата по заявлению -->
                <div class="row-md-6">
                    <label class="form-label mb-0 mx-1 fw-bold">Дата окончания просмотра</label>
                    <br />
                    <span class="mx-1">@(workApplicationDto.ДатаВозврПоЗаявл)</span>
                </div>

                <!-- Дата возврата по факту -->
                @if (workApplicationDto.ДатаВозврПоФакту.HasValue && workApplicationDto.ДатаВозврПоФакту != workApplicationDto.ДатаВозврПоЗаявл)
                {
                    <div class="row-md-6">
                        <label class="form-label mb-0 mx-1 fw-bold">Дата досрочного окончания</label>
                        <br />
                        <span class="mx-1">@(workApplicationDto.ДатаВозврПоФакту)</span>
                    </div>
                }

                <!-- Заявитель -->
                @if (IsReviewMode)
                {
                    <div class="row-md-6 mb-1">
                        @{
                            string idModal = "userInfoModal" + workApplicationDto.IdПользователя;
                            string idModalLabel = "userInfoModalLabel" + workApplicationDto.IdПользователя;

                            <button type="button" class="btn btn-primary" @onclick="@(() => OpenModal(idModal))">
                                Заявитель
                            </button>
                    
                            <div class="modal fade" id="@idModal" tabindex="-1" aria-labelledby="@idModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="@idModalLabel">Информация о заявителе</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body pt-0">
                                            <UserInfo Student="workApplicationDto.ПользовательСтудент"
                                                      Teacher="workApplicationDto.ПользовательПреподаватель"
                                                      @key="workApplicationDto.IdПользователя" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

                <!-- Просмотр ответа -->
                @if (isAnswered)
                {
                    <!-- Дата ответа -->
                    <div class="row-md-6">
                        <label class="form-label mb-0 mx-1 fw-bold">Дата ответа</label>
                        <br />
                        <span class="mx-1">@(workApplicationDto.ДатаОтвета)</span>
                    </div>

                    <!-- Ответ -->
                    <div class="row-md-6">
                        <label class="form-label mb-0 mx-1 fw-bold">Ответ</label>
                        <br />
                        <span class="mx-1">@(workApplicationDto.Ответ)</span>
                    </div>

                    <!-- Просмотр работы -->
                    if (currentStatus.Название == Settings.ApplicationsActiveStatus && !IsReviewMode)
                    {
                        string idModal = "workWatchModal" + workApplicationDto.IdЗаявления;
                        string idModalLabel = "workWatchModalLabel" + workApplicationDto.IdЗаявления;

                        <div class="row align-items-center">
                            <div class="col">
                                <button type="button" class="btn btn-primary" @onclick="@(async () => { await OpenModal(idModal); isClickedWatch = true; })">
                                    Посмотреть ПЗ
                                </button>
                            </div>

                            <div class="col-auto">
                                <button type="button" class="btn btn-danger" @onclick="@(async () => { await StopWatching(workApplicationDto); })">
                                    Прекратить просмотр
                                </button>
                            </div>
                        </div>

                        <div class="modal fade" id="@idModal" tabindex="-1" aria-labelledby="@idModalLabel" aria-hidden="true"
                             data-bs-backdrop="static" data-bs-keyboard="false">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="@idModalLabel">Пояснительная записка @(workApplicationDto.Работа.Тема)</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <!-- Начнёт рендерится после нажатия на кнопку. 
                                             Отрендеренные страницы исчезнут после закрытия модала заявления
                                        -->
                                        @if (isClickedWatch)
                                        {
                                            <WorkRead IdWork="workApplicationDto.IdРаботы" ApplicationWork="workApplicationDto.ToWorkApplication()" @key="workApplicationDto.IdЗаявления" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                // Отправка ответа
                else
                {
                    if (IsReviewMode)
                    {

                        <!-- Ответ -->
                        <div class="row-md-6 mb-1">
                            <label class="form-label mb-0 mx-1 fw-bold">Ответ <span class="text-danger">*</span></label>
                            <InputTextArea class="form-control " @bind-Value="workApplicationDto.Ответ"
                                           disabled="@(workApplicationDto.IdРаботы == null)"
                                           rows="3"
                                           placeholder="Опишите причину решения" />
                        </div>

                        <!-- Статус выдачи -->
                        <div class="row-md-3 mb-1">
                            <label class="form-label mb-0 mx-1 fw-bold">Вердикт <span class="text-danger">*</span></label>
                            <div class="col-md-5">
                                <InputSelect class="form-select" @bind-Value="workApplicationDto.IdСтатуса">
                                    @{
                                        int inReviewStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsInProcessStatus).IdСтатуса;
                                        int rejectStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsRejectStatus).IdСтатуса;
                                        int activeStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsActiveStatus).IdСтатуса;
                                        <option value="@inReviewStatusId">Выберите вердикт</option>
                                        <option value="@rejectStatusId">Отклонить</option>
                                        <option value="@activeStatusId">Одобрить</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>

                        <div class="row-md-6">
                            <button type="submit" class="btn btn-success mt-3" disabled="@(isSubmitting)">
                                Отправить ответ
                            </button>
                        </div>
                    }
                }
            }
        </div>
    </EditForm>
}

<script>
        window.openModal = (modalId) => {
        const modalElement = document.getElementById(modalId);
        if (modalElement) {
            const modal = new bootstrap.Modal(modalElement);
            modal.show();
        }
    };
</script>

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    [Parameter] public int? IdWork { get; set; }
    [Parameter] public bool IsWritingMode { get; set; } = false;
    [Parameter] public bool IsReviewMode { get; set; } = false;
    [Parameter] public WorkApplicationDto? WorkApplicationDto { get; set; }
    private WorkApplicationDto workApplicationDto = new();
    private List<СтатусЗаявления> applicationStatuses = [];
    private СтатусЗаявления currentStatus = null!;
    private bool isAnswered = false;
    private bool isSubmitting = false;
    private bool isClickedWatch = false;

    EditContext? editContext;
    ValidationMessageStore? messageStore;
    private string? errorMessage;
    private string? successMessage;

    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.IsInteractive)
        {
            if (WorkApplicationDto != null) workApplicationDto = WorkApplicationDto;
            else
            {
                workApplicationDto.IdРаботы = IdWork;
                if (IdWork.HasValue)
                    workApplicationDto.Работа = await WorkService.GetWorkDisplayAsync(IdWork.Value);
            }

            if (!IsWritingMode)
            {
                applicationStatuses = await ApplicationsService.GetApplicationsStatusesAsync();
                currentStatus = applicationStatuses.First(w => w.IdСтатуса == workApplicationDto.IdСтатуса);
                isAnswered = currentStatus.Название != Settings.ApplicationsInProcessStatus;
            }

            editContext = new(workApplicationDto);
            messageStore = new(editContext);
            editContext.OnValidationStateChanged += HandleValidationRequested;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (WorkApplicationDto != null)
            workApplicationDto = WorkApplicationDto;
        else
        {
            workApplicationDto.IdРаботы = IdWork;
            if (IdWork.HasValue)
                workApplicationDto.Работа = await WorkService.GetWorkDisplayAsync(IdWork.Value);
        }
        if (!IsWritingMode)
        {
            currentStatus = applicationStatuses.First(w => w.IdСтатуса == workApplicationDto.IdСтатуса);
            isAnswered = currentStatus.Название != Settings.ApplicationsInProcessStatus;
        }
    }

    private async Task OpenModal(string modal)
    {
        await JS.InvokeVoidAsync("openModal", modal);
    }

    private async Task HandleValidSubmit()
    {
        errorMessage = successMessage = null;
        isSubmitting = true;
        StateHasChanged();
        if (!IsReviewMode)
        {
            await AddWorkApplication();
            await CheckAutoReview();
        }
        else
        {
            await AddAnswer();
        }
        isSubmitting = false;
        StateHasChanged();
    }

    private void HandleValidationRequested(object? sender, ValidationStateChangedEventArgs args)
    {
        successMessage = null;
        messageStore?.Clear();

#pragma warning disable CS8603 // Возможно, возврат ссылки, допускающей значение NULL.
        if (IsReviewMode)
        {
            int inReviewStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsInProcessStatus).IdСтатуса;
            int rejectStatusId = applicationStatuses.First(w => w.Название == Settings.ApplicationsRejectStatus).IdСтатуса;
            errorMessage = null;
            if (workApplicationDto.IdСтатуса == inReviewStatusId)
            {
                messageStore?.Add(() => workApplicationDto.IdСтатуса, "Выберите вердикт");
            }
            // Если происходит отказ, то необходимо объяснение отказа
            if (string.IsNullOrWhiteSpace(workApplicationDto.Ответ)
                && workApplicationDto.IdСтатуса == rejectStatusId)
            {
                messageStore?.Add(() => workApplicationDto.Ответ, "Введите объяснение отказа");
            }
        }
#pragma warning restore CS8603
    }

    private async Task AddWorkApplication()
    {
        try
        {
            AuthenticationState? authState = await authenticationState!;
            ClaimsPrincipal user = authState!.User;

            int idUser = int.Parse(user.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value);
            workApplicationDto.IdПользователя = idUser;
            workApplicationDto.IdСтатуса = (await ApplicationsService.GetApplicationsStatusesAsync())
                    .First(ws => ws.Название == Settings.ApplicationsInProcessStatus).IdСтатуса;

            await ApplicationsService.AddWorkApplication(workApplicationDto);

            successMessage = "Заявление успешно отправлено!";
            workApplicationDto.IdРаботы = IdWork = null;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = $"Ошибка при отправке: {ex.Message}";
        }
    }

    private async Task AddAnswer()
    {
        try
        {
            if (!(await ApplicationsService.AddAnswerWorkApplication(workApplicationDto)))
            {
                errorMessage = "Заявление не найдено, либо удалено";
            }
            else
            {
                successMessage = "Ответ успешно отправлен!";
                await SendNotificationToSenderAsync();
            }

            isAnswered = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = $"Ошибка при отправке: {ex.Message}";
        }
    }

    private async Task StopWatching(WorkApplicationDto workApplication)
    {
        try
        {
            workApplication.IdСтатуса = applicationStatuses.First(ws => ws.Название == Settings.ApplicationsCompleteStatus).IdСтатуса;
            if (!(await ApplicationsService.CompleteWorkApplication(workApplication)))
            {
                throw new Exception("Заявление не найдено, либо удалено");
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = $"Ошибка при завершении: {ex.Message}";
        }
    }

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            return;
        }
    }

    private async Task CheckAutoReview()
    {
        НастройкиКафедры? settingsDepartmnet = await SettingsService.GetSettings<НастройкиКафедры>(workApplicationDto.Работа.Студент.Структура.Кафедра.IdКафедры);
        if (settingsDepartmnet == null || string.IsNullOrWhiteSpace(settingsDepartmnet.Настройки)) return;

        SettingsDepartment settingsDepartmnetDto = (await SettingsService.GetSettingsJson<SettingsDepartment>(settingsDepartmnet.Настройки))!;
        var userSender = (await UserService.GetUserDisplayAsync(workApplicationDto.IdПользователя))!;
        StructureDto structureSender = (await UserService.GetTeacherDisplayAsync(workApplicationDto.IdПользователя)).FirstOrDefault(x => x.Активно == true)?.Структура
                                    ?? (await UserService.GetStudentDisplayAsync(workApplicationDto.IdПользователя)).First(x => x.Активно == true)!.Структура;

        // Проверка на автоматическое отклонение заявлений на получение работы
        if (settingsDepartmnetDto.SettingsApplications.AutoDenyWorkApplicationsEnabled)
        {
            var autoDenyStructures = settingsDepartmnetDto.SettingsApplications.AutoDenyWorkApplications;

            // Ищем структуры, для которых включено автоматическое отклонение, и проверяем принадлежность отправителя заявления к этим структурам
            var autoDeny = autoDenyStructures.Keys.Where(x => x.IsBelongsStructure(workApplicationDto.Работа.Студент.Структура));
            if (autoDeny.Count() != 0 && autoDeny.Any(x => x.IsBelongsStructure(structureSender)))
            {
                workApplicationDto.Ответ = "Отклонено автоматически";
                workApplicationDto.IdСтатуса = (await ApplicationsService.GetApplicationsStatusesAsync())
                        .First(ws => ws.Название == Settings.ApplicationsRejectStatus).IdСтатуса;

                await ApplicationsService.AddAnswerWorkApplication(workApplicationDto);
                await SendNotificationToSenderAsync($"Ваше заявление на получение работы \"{workApplicationDto.Работа.Тема}\" было отклонено автоматически.");
                await SendNotificationToReviewersAsync($"Заявление от {userSender.ФИОИнициалы} на получение работы \"{workApplicationDto.Работа.Тема}\" было отклонено автоматически.");
                return;
            }
        }

        // Проверка на автоматическое одобрение заявлений на получение работы
        if (settingsDepartmnetDto.SettingsApplications.AutoAgreeWorkApplicationsEnabled)
        {
            var autoAgreeStructures = settingsDepartmnetDto.SettingsApplications.AutoAgreeWorkApplications;

            // Ищем структуры, для которых включено автоматическое одобрение, и проверяем принадлежность отправителя заявления к этим структурам
            var autoAgree = autoAgreeStructures.Keys.Where(x => x.IsBelongsStructure(workApplicationDto.Работа.Студент.Структура));
            if (autoAgree.Count() != 0 && autoAgree.Any(x => x.IsBelongsStructure(structureSender)))
            {
                workApplicationDto.Ответ = "Одобрено автоматически";
                workApplicationDto.IdСтатуса = (await ApplicationsService.GetApplicationsStatusesAsync())
                        .First(ws => ws.Название == Settings.ApplicationsActiveStatus).IdСтатуса;

                await ApplicationsService.AddAnswerWorkApplication(workApplicationDto);
                await SendNotificationToSenderAsync($"Ваше заявление на получение работы \"{workApplicationDto.Работа.Тема}\" было одобрено автоматически.");
                await SendNotificationToReviewersAsync($"Заявление от {userSender.ФИОИнициалы} на получение работы \"{workApplicationDto.Работа.Тема}\" было одобрено автоматически.");
                return;
            }
        }
    }

    private async Task SendNotificationToSenderAsync(string? message = null)
    {
        string title = "Заявления на просмотр работ";
        СтатусЗаявления status = (await ApplicationsService.GetApplicationsStatusesAsync()).First(x => x.IdСтатуса == workApplicationDto.IdСтатуса);
        message ??= $"Ваше заявление на получение работы \"{workApplicationDto.Работа.Тема}\" было "
            + (status.Название == Settings.ApplicationsActiveStatus
            ? "одобрено."
            : "отклонено.");

        await NotificationService.SendToUserAsync(workApplicationDto!.IdПользователя.ToString(), title, message, "works/applications/send");
    }

    private async Task SendNotificationToReviewersAsync(string? message = null)
    {
        string title = "Заявления на просмотр работ";
        message ??= $"Было добавлено заявление на получение работы \"{workApplicationDto.Работа.Тема}\"";
        List<string> rolesReviewers = [Settings.RoleDepartmentResponsibleName, Settings.RoleDepartmentHeadName];
        List<int> appReviewers = (await UserService.GetUsersByRolesAsync(rolesReviewers))
            .Select(x => x.Пользователь.IdПользователя)
            .ToList();

        appReviewers = (await UserService.GetTeacherDisplayAsync(appReviewers))
            .Where(x => x.Структура.Кафедра == workApplicationDto.Работа.Студент.Структура.Кафедра && x.Активно == true)
            .Select(x => x.Пользователь.Пользователь.IdПользователя)
            .ToList();

        IEnumerable<Task> tasks = appReviewers.Select(x => NotificationService.SendToUserAsync(x.ToString(), title, message, "works/applications/review"));
        await Task.WhenAll(tasks);
    }

    public void Dispose()
    {
        if (!string.IsNullOrWhiteSpace(successMessage))
            WorkApplicationDto?.IdСтатуса = currentStatus.IdСтатуса;
        
        if (editContext != null)
            editContext.OnValidationStateChanged -= HandleValidationRequested;
    }
}
