@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Models.Auth
@using ArchiveFqp.Models.Auth.ThreeKL
@using ArchiveFqp.Models.DTO.User
@using ArchiveFqp.Models.ReferenceData
@using ArchiveFqp.Services
@using ArchiveFqp.Interfaces.Auth
@using ArchiveFqp.Services.Auth.ThreeKL
@using Microsoft.AspNetCore.Authorization
@using System.Text
@using System.Web
@using System.Text.Json
@inject IReferenceDataService RefDataService
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode())

@if (RendererInfo.IsInteractive)
{
    <div class="row mb-1">
        <div class="col-md-8" style="padding-left:0px">
            <label class="form-label mb-0 fw-bold mx-2">Кто Вы?</label>
            <select class="form-select" @bind="UserStructure.UserType">
                <option value="@UserType.Student">Я студент</option>
                <option value="@UserType.Teacher">Я преподаватель</option>
            </select>
        </div>
        @if (UserStructure.UserType == UserType.Student)
        {
            <div class="col-md-4" style="padding-right:0px">
                <label class="form-label mb-0 fw-bold mx-2">Год выпуска <span class="text-danger">*</span></label>
                <InputSelect class="form-select" @bind-Value="UserStructure.YearGraduation">
                    <option value=""></option>
                    @for (int year = DateTime.Now.Year + 15; year >= DateTime.Now.Year - 50; year--)
                    {
                        <option value="@year">@year</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => UserStructure.YearGraduation" />
            </div>
        }
    </div>

    <div class="row mb-1">
        <label class="form-label mb-0 fw-bold">Институт <span class="text-danger">*</span></label>
        <select class="form-select" @bind="UserStructure.IdInstitute">
            <option value="">Выберите институт</option>
            @foreach (var institute in snapshot.Institutes)
            {
                <option value="@institute.IdИнститута">@institute.Название</option>
            }
        </select>
        <ValidationMessage For="() => UserStructure.IdInstitute" />
    </div>
    <div class="row mb-1">
        <label class="form-label mb-0 fw-bold">Кафедра <span class="text-danger">*</span></label>
        <select class="form-select" @bind="UserStructure.IdDepartment"
                disabled="@(UserStructure.IdInstitute == null)">
            <option value="">Выберите кафедру</option>
            @foreach (var department in snapshot.Departments.Where(x => x.IdИнститута == UserStructure.IdInstitute).OrderBy(x => x.Название))
            {
                <option value="@department.IdКафедры">@department.Название</option>
            }
        </select>
        <ValidationMessage For="() => UserStructure.IdDepartment" />
    </div>
                                        
    @if (UserStructure.UserType == UserType.Teacher)
    {
        <div class="row mb-1">
            <div class="col-md-6" style="padding-left:0px">
                <label class="form-label mb-0 fw-bold mx-2">Должность <span class="text-danger">*</span></label>
                <InputSelect class="form-select" @bind-Value="UserStructure.IdPost">
                    <option value="0"></option>
                    @foreach (var post in snapshot.Posts.OrderBy(x => x.Название))
                    {
                        <option value="@post.IdДолжности">@post.Название</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => UserStructure.IdPost" />
            </div>
        </div>
    }
    else if (UserStructure.UserType == UserType.Student)
    {
        <div class="row mb-1">
            <div class="col-md-6" style="padding-left:0px">
                <label class="form-label mb-0 fw-bold mx-2">Стандарт УГСН <span class="text-danger">*</span></label>
                <InputSelect class="form-select" @bind-Value="idUgsnStandard"
                             disabled="@(UserStructure.IdDepartment == null)">
                    <option value="0"></option>
                    @foreach (var standard in snapshot.UgsnStandards.OrderBy(x => x.Название))
                    {
                        <option value="@standard.IdУгснСтандарта">@standard.Название</option>
                    }
                </InputSelect>
            </div>
            <div class="col-md-6" style="padding-right:0px">
                <label class="form-label mb-0 fw-bold mx-2">УГСН <span class="text-danger">*</span></label>
                <InputSelect class="form-select" @bind-Value="idUgsn"
                             disabled="@(idUgsnStandard == 0)">
                    <option value="0"></option>
                    @{
                        List<int> idUgsns = snapshot.Directions
                            .Where(d => d.IdКафедры == UserStructure.IdDepartment)
                            .Select(x => x.IdУгсн).ToList();
                        var filteredUgsns = snapshot.Ugsns.Where(x => x.IdУгснСтандарта == idUgsnStandard && idUgsns.Contains(x.IdУгсн)).OrderBy(x => x.Название);
                        foreach (var ugsn in filteredUgsns)
                        {
                            <option value="@ugsn.IdУгсн">@ugsn.Название</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>
        <div class="row mb-1">
            <label class="form-label mb-0 fw-bold">Направление <span class="text-danger">*</span></label>
            <select class="form-select" @bind="UserStructure.IdDirection"
                    disabled="@(idUgsn == 0)">
                <option value="">Выберите направление</option>
                @foreach (var direction in snapshot.Directions.Where(x => x.IdКафедры == UserStructure.IdDepartment && x.IdУгсн == idUgsn).OrderBy(x => x.Название))
                {
                    <option value="@direction.IdНаправления">@direction.Название</option>
                }
            </select>
            <ValidationMessage For="() => UserStructure.IdDirection" />
        </div>
        <div class="row mb-1">
            <label class="form-label mb-0 fw-bold">Профиль</label>
            <select class="form-select" @bind="UserStructure.IdProfile"
                    disabled="@(UserStructure.IdDirection == null)">
                <option value="">Выберите профиль</option>
                @foreach (var profile in snapshot.Profiles.Where(x => x.IdНаправления == UserStructure.IdDirection).OrderBy(x => x.Название))
                {
                    <option value="@profile.IdПрофиля">@profile.Название</option>
                }
            </select>
        </div>
        <div class="row mb-3">
            <div class="col-md-6" style="padding-left:0px">
                <label class="form-label mb-0 fw-bold mx-2">Уровень образования <span class="text-danger">*</span></label>
                <InputSelect class="form-select" @bind-Value="UserStructure.IdEducationLevel">
                    <option value=""></option>
                    @foreach (var level in snapshot.EducationLevels.OrderBy(x => x.Название))
                    {
                        <option value="@level.IdУровняОбразования">@level.Название</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => UserStructure.IdEducationLevel" />
            </div>
            <div class="col-md-6" style="padding-right:0px">
                <label class="form-label mb-0 fw-bold mx-2">Форма обучения <span class="text-danger">*</span></label>
                <InputSelect class="form-select" @bind-Value="UserStructure.IdEducationForm">
                    <option value=""></option>
                    @foreach (var form in snapshot.EducationForms.OrderBy(x => x.Название))
                    {
                        <option value="@form.IdФормыОбучения">@form.Название</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => UserStructure.IdEducationForm" />
            </div>
        </div>
    }
}

@code {
    [Parameter] public UserStructureDto UserStructure { get; set; } = new();
    [Parameter] public ReferenceDataSnapshot? Snapshot { get; set; }
    [Parameter] public EditContext? EditContext { get; set; }
    [Parameter] public ValidationMessageStore? MessageStore { get; set; }

    private ReferenceDataSnapshot snapshot = new();
    private int idUgsnStandard;
    private int idUgsn;

    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.IsInteractive)
        {
            if (Snapshot != null) snapshot = Snapshot;
            else snapshot = await RefDataService.GetSnapshotAsync();

            if (EditContext != null && MessageStore != null)
            {
                EditContext.OnValidationStateChanged += HandleValidationRequestedStructure;
            }
        }
    }

    private void HandleValidationRequestedStructure(object? sender, ValidationStateChangedEventArgs args)
    {
        MessageStore?.Clear();

#pragma warning disable CS8603 // Возможно, возврат ссылки, допускающей значение NULL.
        if (UserStructure.UserType == UserType.Student)
        {
            if (UserStructure.IdDirection == null)
                MessageStore?.Add(() => UserStructure.IdDirection, "Выберите направление");

            if (UserStructure.IdEducationForm == null)
                MessageStore?.Add(() => UserStructure.IdEducationForm, "Выберите форму обучения");

            if (UserStructure.IdEducationLevel == null)
                MessageStore?.Add(() => UserStructure.IdEducationLevel, "Выберите уровень образования");

            if (UserStructure.YearGraduation == null)
                MessageStore?.Add(() => UserStructure.YearGraduation, "Выберите год выпуска");
        }
        else if (UserStructure.UserType == UserType.Teacher)
        {
            if (UserStructure.IdPost == null)
                MessageStore?.Add(() => UserStructure.IdPost, "Выберите должность");
        }
#pragma warning restore CS8603
    }

    public void Dispose()
    {
        if (EditContext != null)
            EditContext.OnValidationStateChanged -= HandleValidationRequestedStructure;
    }
}