@using ArchiveFqp.Components.Components
@using ArchiveFqp.Models.DTO
@using ArchiveFqp.Models.DTO.Work
@using ArchiveFqp.Models.DatabaseNotification
@using ArchiveFqp.Models.FileUpload
@using ArchiveFqp.Models.Settings.SettingsArchive
@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Interfaces.Work
@using ArchiveFqp.Services.FileUpload
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@inject NavigationManager Navigation
@inject ProtectedLocalStorage ProtectedSessionStore
@inject WorkFileUploadService FileUploadService
@inject IReferenceDataService RefDataService
@inject IWorkService WorkService
@inject IJSRuntime JSRuntime
@inject SettingsArchive Settings
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container mt-4">
    <div class="row">
        <div class="accordion" id="accordionWork">
            <div class="accordion-item">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary">
                            @if (WorkDto.Attributes == null && !IsMultiple)
                            {
                                <h4 class="mb-0 text-white">
                                    <i class="bi bi-plus-circle me-2"></i>Добавление новой работы
                                    <button class="btn btn-primary" @onclick="@(async () => await Reset(true))">
                                        Сбросить данные
                                    </button>
                                </h4>
                            }
                            else
                            {
                                <button class="accordion-button bg-transparent collapsed" style="height:20px;" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#@SessionStoreNameWorkDTO"
                                        aria-expanded="false" aria-controls="@SessionStoreNameWorkDTO">
                                    <h4 class="mb-0 text-white">
                                        @if (!IsMultiple)
                                        {
                                            <i class="bi bi-plus-circle me-2"></i>
                                        }
                                        Добавление @(IsMultiple? GetTitleName() : "новой работы")
                                    </h4>
                                </button>
                            }
                        </div>
                        <div id="@SessionStoreNameWorkDTO" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionWork">
                            <div class="accordion-body">
                                <div class="card-body">
                                    <WorkDataAdd @bind-WorkDto="@WorkDto" @bind-WorkDto:after="OnWorkDTOChanged"
                                                 SessionStoreNameWorkDTO="@SessionStoreNameWorkDTO" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (WorkDto.Attributes != null && WorkDto.Attributes.Count != 0)
            {
                <div class="accordion-item">
                    <div class="col-12">
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary">
                                <button class="accordion-button bg-transparent" style="height:20px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorkAttributes" aria-expanded="false" aria-controls="collapseWorkAttributes">
                                    <h4 class="mb-0 text-white">
                                        <i class="bi bi-book me-2"></i>Атрибуты новой работы
                                    </h4>
                                </button>
                            </div>

                            <div id="collapseWorkAttributes" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionWork">
                                <div class="accordion-body">
                                    <div class="card-body">
                                        <WorkAttributesAdd @bind-WorkDto="WorkDto"
                                                           @bind-WorkDto:after="OnAttributesChanged" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public WorkCreateDto WorkDto { get; set; } = new();
    [Parameter] public EventCallback<WorkCreateDto> WorkDtoChanged { get; set; }
    [Parameter] public Func<Task>? EndAdd { get; set; }
    [Parameter] public bool IsMultiple { get; set; } = false;
    [Parameter] public string SessionStoreNameWorkDTO { get; set; } = "workDTO";

    private Dictionary<int, List<string>> attributesValues = [];
    private bool firstCheck = true;

    protected override async Task OnInitializedAsync()
    {
        RefDataService.TablesChanged += OnTablesChanged;
    }

    private async Task OnWorkDTOChanged()
    {
        // IdРаботы != 0 когда работа добавлена
        if (WorkDto.IdРаботы != 0 && WorkDto.Attributes == null)
        {
            await Task.Delay(300);
            WorkDto.Attributes = (await WorkService.GetWorkAttributesAsync(WorkDto.IdРаботы, []))
            ?.Select(a =>
                {
                    if (a.Данные == Settings.AttributesValueAwait)
                        a.Данные = "";
                    return a;
                }).ToList();

            await ProtectedSessionStore.SetAsync(SessionStoreNameWorkDTO, WorkDto);

            if (WorkDto.Attributes == null)
            {
                WorkDto.AttributesValuesAdded = true;
                await End();
            }
            else
            {
                StateHasChanged();
                // Закрываем аккордеон данных и открываем - атрибутов
                await JSRuntime.InvokeVoidAsync("eval",
                $"document.querySelector('[data-bs-target=\"#{SessionStoreNameWorkDTO}\"]').click()");
            }
        }
        else if (WorkDto.IdРаботы != 0 && firstCheck)
        {
            firstCheck = false;
            Работа? work = (await RefDataService.GetAsync<Работа>()).FirstOrDefault(x => x.IdРаботы == WorkDto.IdРаботы);
            if (work == null)
            {
                await JSRuntime.InvokeVoidAsync("alert", "Работа была удалена");
                await Reset();
            }
        }

        StateHasChanged();
        await WorkDtoChanged.InvokeAsync(WorkDto);
    }

    private async Task OnAttributesChanged()
    {
        await ProtectedSessionStore.SetAsync(SessionStoreNameWorkDTO, WorkDto);
        if (WorkDto.AttributesValuesAdded)
        {
            await End();
        }
        await WorkDtoChanged.InvokeAsync(WorkDto);
    }

    private async Task End()
    {
        await WorkService.UpdateStatusAsync(WorkDto.IdРаботы, (await WorkService
                .GetWorkStatusesAsync())
                    .First(sw => sw.Название == Settings.WorkInArchiveStatus).IdСтатусаРаботы);

        if (!IsMultiple)
        {
            // Даем пользователю время на просмотр результата перед очисткой данных
            await Task.Delay(2000);

            await Reset();
        }

        EndAdd?.Invoke();
    }

    private async Task Reset(bool fromButton = false)
    {
        if (fromButton && (WorkDto.TempFileWithTitle != null || WorkDto.WithoutFileWithTitle))
        {
            if (!(await JSRuntime.InvokeAsync<bool>("confirm", "Вы действительно хотите сбросить данныые?")))
            {
                return;
            }
        }

        if (WorkDto.TempFileWithTitle != null)
            FileUploadService.CleanupTempFilesAsync(WorkDto.TempFileWithTitle.SessionId);
        WorkDto = new();
        await ProtectedSessionStore.SetAsync(SessionStoreNameWorkDTO, WorkDto);
        await WorkDtoChanged.InvokeAsync(WorkDto);
        StateHasChanged();
    }

    private string GetTitleName()
    {
        if (string.IsNullOrWhiteSpace(WorkDto.Тема)) return "новой работы";
        string title = WorkDto.Тема.Length < 21 ? WorkDto.Тема : WorkDto.Тема[..20];
        return "«" + title + "»";
    }

    private async void OnTablesChanged(object? sender, TableChangeEvent e)
    {
        await InvokeAsync(async () =>
            {
                // При добавлении работы ждём, когда в кэше появится добавленная работа
                if (e.TableName == nameof(Работа) && e.ChangeType == TableChangeType.Delete)
                {
                    Работа? work = JsonConvert.DeserializeObject<Работа>(e.Old!.ToString(),
                                new JsonSerializerSettings { ContractResolver = new DefaultContractResolver { NamingStrategy = new SnakeCaseNamingStrategy() } });
                    if (work != null && work.IdРаботы == WorkDto.IdРаботы)
                    {
                        await JSRuntime.InvokeVoidAsync("alert", "Работа была удалена");
                        await Reset();
                    }
                }
            });
    }

    public void Dispose()
    {
        RefDataService.TablesChanged -= OnTablesChanged;
    }
}
