@using ArchiveFqp.Models.DTO
@using ArchiveFqp.Models.DTO.Work
@using ArchiveFqp.Models.DatabaseNotification
@using ArchiveFqp.Models.Settings.SettingsArchive
@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Interfaces.Work
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@inject NavigationManager Navigation
@inject ProtectedLocalStorage ProtectedSessionStore
@inject IReferenceDataService RefDataService
@inject IWorkService WorkService
@inject IJSRuntime JSRuntime
@inject SettingsArchive Settings
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container mt-4">
    <div class="row">
        <div class="accordion" id="accordionWork">
            <div class="accordion-item">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary">
                            @if (WorkDto.Attributes == null)
                            {
                                <h4 class="mb-0 text-white">
                                    <i class="bi bi-plus-circle me-2"></i>Добавление новой работы
                                </h4>
                            }
                            else
                            {
                                <button class="accordion-button bg-transparent" style="height:20px;" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseWorkData"
                                        aria-expanded="true" aria-controls="collapseWorkData">
                                    <h4 class="mb-0 text-white">
                                        <i class="bi bi-plus-circle me-2"></i>Добавление новой работы
                                    </h4>
                                </button>
                            }
                        </div>
                        @if (WorkDto.Attributes == null)
                        {
                            <div class="card-body">
                                <WorkDataAdd @bind-WorkDto="@WorkDto" @bind-WorkDto:after="OnWorkDTOChanged"
                                             SessionStoreNameWorkDTO="@SessionStoreNameWorkDTO" />
                            </div>
                        }
                        else
                        {
                            <div id="collapseWorkData" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionWork">
                                <div class="accordion-body">
                                    <div class="card-body">
                                        <WorkDataAdd @bind-WorkDto="@WorkDto" @bind-WorkDto:after="OnWorkDTOChanged"
                                                     SessionStoreNameWorkDTO="@SessionStoreNameWorkDTO" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @if (WorkDto.Attributes != null && WorkDto.Attributes.Count != 0)
            {
                <div class="accordion-item">
                    <div class="col-12">
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary">
                                <button class="accordion-button bg-transparent" style="height:20px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorkAttributes" aria-expanded="false" aria-controls="collapseWorkAttributes">
                                    <h4 class="mb-0 text-white">
                                        <i class="bi bi-book me-2"></i>Атрибуты новой работы
                                    </h4>
                                </button>
                            </div>

                            <div id="collapseWorkAttributes" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionWork">
                                <div class="accordion-body">
                                    <div class="card-body">
                                        <WorkAttributesAdd @bind-Attributes="WorkDto.Attributes"
                                                           @bind-Attributes:after="OnAttributesChanged"
                                                           @bind-Disabled="WorkDto.AttributesValuesAdded"
                                                           @bind-Disabled:after="OnAttributesChanged" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public WorkCreateDto WorkDto { get; set; } = new();
    [Parameter] public EventCallback<WorkCreateDto> WorkDTOChanged { get; set; }
    [Parameter] public string SessionStoreNameWorkDTO { get; set; } = "workDTO";

    private Dictionary<int, List<string>> attributesValues = [];

    protected override async Task OnInitializedAsync()
    {
        RefDataService.TablesChanged += OnTablesChanged;

        if (WorkDto.IdРаботы != 0)
        {
            Работа? work = (await RefDataService.GetAsync<Работа>()).FirstOrDefault(x => x.IdРаботы == WorkDto.IdРаботы);
            if (work == null)
            {
                await ProtectedSessionStore.DeleteAsync(SessionStoreNameWorkDTO);
                await JSRuntime.InvokeVoidAsync("alert", "Работа была удалена");
                WorkDto = new();
                StateHasChanged();
            }
        }
    }


    private async Task OnWorkDTOChanged()
    {
        // IdРаботы != 0 когда работа добавлена
        if (WorkDto.IdРаботы != 0 && WorkDto.Attributes == null)
        {
            await Task.Delay(300);
            WorkDto.Attributes = (await WorkService.GetWorkAttributesAsync(WorkDto.IdРаботы, []))
            ?.Select(a =>
                {
                    if (a.Данные == Settings.AttributesValueAwait)
                        a.Данные = "";
                    return a;
                }).ToList();

            if (WorkDto.Attributes == null)
            {
                WorkDto.AttributesValuesAdded = true;
                await End();
            }
            else
            {
                StateHasChanged();
            }
        }
        StateHasChanged(); await WorkDTOChanged.InvokeAsync(WorkDto);
        // await InvokeAsync(async () => { StateHasChanged(); await WorkDTOChanged.InvokeAsync(WorkDto); });
    }

    private async Task OnAttributesChanged()
    {
        await ProtectedSessionStore.SetAsync(SessionStoreNameWorkDTO, WorkDto);
        if (WorkDto.AttributesValuesAdded)
        {
            await End();
        }
        await WorkDTOChanged.InvokeAsync(WorkDto);
    }

    private async Task End()
    {
        await WorkService.UpdateStatusAsync(WorkDto.IdРаботы, (await WorkService
                .GetWorkStatusesAsync())
                    .First(sw => sw.Название == Settings.WorkInArchiveStatus).IdСтатусаРаботы);

        // Даем пользователю время на просмотр результата перед очисткой данных
        await Task.Delay(2000);
    }

    private async void OnTablesChanged(object? sender, TableChangeEvent e)
    {
        await InvokeAsync(async () =>
            {
                // При добавлении работы ждём, когда в кэше появится добавленная работа
                if (e.TableName == nameof(Работа) && e.ChangeType == TableChangeType.Delete)
                {
                    Работа? work = JsonConvert.DeserializeObject<Работа>(e.Old!.ToString(),
                                new JsonSerializerSettings { ContractResolver = new DefaultContractResolver { NamingStrategy = new SnakeCaseNamingStrategy() } });
                    if (work != null && work.IdРаботы == WorkDto.IdРаботы)
                    {
                        await ProtectedSessionStore.DeleteAsync(SessionStoreNameWorkDTO);
                        await JSRuntime.InvokeVoidAsync("alert", "Работа была удалена");
                        WorkDto = new();
                        StateHasChanged();
                    }
                }
            });
    }

    public void Dispose()
    {
        RefDataService.TablesChanged -= OnTablesChanged;
    }
}
