@using ArchiveFqp.Components.Components
@using ArchiveFqp.Factories.DisplayDto.Student
@using ArchiveFqp.Factories.DisplayDto.Teacher
@using ArchiveFqp.Interfaces.Settings
@using ArchiveFqp.Interfaces.User
@using ArchiveFqp.Models.AiExtractor
@using ArchiveFqp.Models.DTO
@using ArchiveFqp.Models.DTO.Student
@using ArchiveFqp.Models.DTO.Teacher
@using ArchiveFqp.Models.DTO.Work
@using ArchiveFqp.Models.DatabaseNotification
@using ArchiveFqp.Models.FileUpload
@using ArchiveFqp.Models.Hash
@using ArchiveFqp.Models.ReferenceData
@using ArchiveFqp.Models.Settings
@using ArchiveFqp.Models.Settings.Department
@using ArchiveFqp.Models.Settings.Direction
@using ArchiveFqp.Models.Settings.Institute
@using ArchiveFqp.Models.Settings.Profile
@using ArchiveFqp.Models.Settings.SettingsArchive
@using ArchiveFqp.Services.AiExtractor
@using ArchiveFqp.Services.FileUpload
@using ArchiveFqp.Services.FuzzySearch
@using ArchiveFqp.Interfaces.ReferenceData
@using ArchiveFqp.Interfaces.Work
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Security.Claims
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using System.Text.Json
@inject NavigationManager Navigation
@inject ProtectedLocalStorage ProtectedSessionStore
@inject IDbContextFactory<ArchiveFqpContext> DbFactory
@inject WorkFileUploadService FileUploadService
@inject ILogger<WorkAdd> Logger
@inject IWorkService WorkService
@inject IUserService UserService
@inject IReferenceDataService RefDataService
@inject SettingsArchive Settings
@inject ISettingsService SettingsService
@inject AiExtractorService AiExtractorService
@inject IJSRuntime JSRuntime
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (editContext != null)
{
    @if (aiError != null)
    {
        <div class="alert alert-warning">@aiError</div>
    }
    @if (aiStatus != null)
    {
        <div class="text-center alert alert-@(aiSuccess ? "success" : "info")">
            @if (aiRunning)
            {
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                </div>
                
            }
            <p class="mt-2 mb-0">@aiStatus</p>
            @if (aiRunning || aiConnecting)
            {
                <button type="button" class="btn btn-secondary"
                        @onclick="CancelCurrentOperation" disabled="@token.IsCancellationRequested">
                    <i class="bi bi-x-circle"></i> Отменить
                </button>
            }
        </div>
    }

    @if (errorMessage != null && successMessage == null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    @if (successMessage != null)
    {
        <div class="alert alert-success">@successMessage</div>
    }

    @if (WorkDto.TempFileWithTitle == null && !WorkDto.WithoutFileWithTitle)
    {
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span>Вы можете загрузить PDF файл для считывания данных с титульника</span>
            <button type="button" class="btn btn-warning mx-1" @onclick="OnSkip">
                <i class="bi bi-skip-forward"></i> Пропустить
            </button>
        </div>

        <FileUploadTemp @bind-WorkDto="WorkDto"
                        @bind-WorkDto:after="AddTempFileAndExtract" />
    }

    @if (WorkDto.TempFileWithTitle != null || WorkDto.WithoutFileWithTitle || IsEdit || WorkDto.IdРаботы != 0)
    {
        <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit" FormName="workAdd">
            <DataAnnotationsValidator />

            <!-- Основная информация -->
            <div class="row border-bottom">
                <div class="col-md-6" style="border-right:solid; border-right-width:0.1px; border-right-color:lightgrey;">
                    <div class="row mb-2">
                        <!-- Тема работы -->
                        <div class="col-md-8">
                            <label class="form-label mb-0 mx-1 fw-bold">Название темы <span class="text-danger">*</span></label>
                            <InputTextArea class="form-control " @bind-Value="WorkDto.Тема" @bind-Value:after="SaveStateWorkDTO"
                                           disabled="@disabled"
                                           rows="1"
                                           placeholder="Введите тему работы" />
                            <ValidationMessage For="() => WorkDto.Тема" />
                        </div>

                        <!-- Объем страниц -->
                        <div class="col-md-4">
                            <label class="form-label mb-0 mx-1 fw-bold">Кол-во страниц <span class="text-danger">*</span></label>
                            <InputNumber class="form-control" @bind-Value="WorkDto.КоличСтраниц"
                                         @bind-Value:after="@(async () => await SaveStateWorkDTO())"
                                         min="1" max="1000" disabled="@disabled" />
                            <ValidationMessage For="() => WorkDto.КоличСтраниц" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <!-- Тип работы -->
                        <div class="col-md-6">
                            <label class="form-label mb-0 mx-1 fw-bold">Тип работы <span class="text-danger">*</span></label>
                            <InputSelect class="form-select" @bind-Value="WorkDto.IdТипаРаботы" @bind-Value:after="OnWorkTypeChanged" disabled="@disabled">
                                <option value="">Выберите тип</option>
                                @foreach (ТипРаботы type in snapshot.WorkTypes)
                                {
                                    <option value="@type.IdТипаРаботы">@type.Название</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => WorkDto.IdТипаРаботы" />
                        </div>

                        <!-- Доступ работы -->
                        <div class="col-md-6">
                            <label class="form-label mb-0 mx-1 fw-bold">Доступ работы <span class="text-danger">*</span></label>
                            <InputSelect class="form-select" @bind-Value="WorkDto.IdДоступаРаботы" @bind-Value:after="@(async () => await SaveStateWorkDTO())" disabled="@disabled">
                                <option value="">Выберите кто видит работу</option>
                                @foreach (ДоступРаботы type in snapshot.WorkAccess.OrderBy(x => x.IdДоступаРаботы))
                                {
                                    <option value="@type.IdДоступаРаботы">@type.Название</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => WorkDto.IdДоступаРаботы" />
                        </div>
                    </div>

                    <!-- Руководитель -->
                    <div class="row-md-6 mb-2">
                        <label class="form-label mb-0 mx-1 fw-bold">Руководитель <span class="text-danger">*</span></label>

                        <SearchableSelect TItem="Преподаватель"
                                          TValue="int?"
                                          Items="@snapshot.Teachers"
                                          TextSelector="@((s) => teacherDtoFactory!.CreateDisplayDtoAsync(s).Result.Пользователь.ФИО)"
                                          ValueSelector="@(s => s.IdПреподавателя)"
                                          Placeholder="Выберите или введите руководителя..."
                                          IsInvalid="@(WorkDto.IdПреподавателя == null)"
                                          SelectedValue="@WorkDto.IdПреподавателя"
                                          SelectedValueChanged="@((s) => OnTeacherChanged(s))"
                                          OnCustomValue="@(() => WorkDto.IdПреподавателя = null)"
                                          Disabled="@disabled" />
                        <ValidationMessage For="() => WorkDto.IdПреподавателя" />

                        <!-- Информация о руководителе (зависимая) -->
                        @if (selectedTeacher != null)
                        {
                            <div class="col-md-6 mx-1">
                                <strong>Должность:</strong> @(selectedTeacher.Должность.Название)
                            </div>
                        }
                    </div>

                    <!-- Аннотация -->
                    <div class="row-md-6 mb-2">
                        <label class="form-label mb-0 mx-1 fw-bold">Аннотация</label>
                        <InputTextArea class="form-control" @bind-Value="WorkDto.Аннотация" @bind-Value:after="@(async () => await SaveStateWorkDTO())"
                                       rows="4"
                                       placeholder="Введите аннотацию работы (необязательно)"
                                       disabled="@disabled" />
                    </div>

                    <!-- Если работа должна иметь консультантов и рецензентов -->
                    @if (hasCR)
                    {

                        <!-- Консультанты -->
                        <div class="row-md-6 mb-2">
                            <MultipleSearchableSelect TItem="Преподаватель"
                                                      TValue="int"
                                                      Label="Консультанты"
                                                      Placeholder="Введите или выберите ФИО консультанта..."
                                                      DefaultValue="-1"
                                                      @bind-SelectedValues="WorkDto.IdКонсультантов"
                                                      Items="snapshot.Teachers"
                                                      TextSelector="@(t => teacherDtoFactory!.CreateDisplayDtoAsync(t).Result.Пользователь.ФИО)"
                                                      ValueSelector="@(t => t.IdПреподавателя)"
                                                      OnChange="@(async () => await SaveStateWorkDTO())"
                                                      OnCustomValue="@(async (i) => {WorkDto.IdКонсультантов[i] = -1; await SaveStateWorkDTO();})"
                                                      Disabled="@disabled" />
                        </div>

                        <!-- Рецензенты -->
                        <div class="row-md-6 mb-2">
                            <MultipleSearchableSelect TItem="Преподаватель"
                                                      TValue="int"
                                                      Label="Рецензенты"
                                                      Placeholder="Введите или выберите ФИО рецензента..."
                                                      DefaultValue="-1"
                                                      @bind-SelectedValues="WorkDto.IdРецензентов"
                                                      Items="snapshot.Teachers"
                                                      TextSelector="@(t => teacherDtoFactory!.CreateDisplayDtoAsync(t).Result.Пользователь.ФИО)"
                                                      ValueSelector="@(t => t.IdПреподавателя)"
                                                      OnChange="@(async () => await SaveStateWorkDTO())"
                                                      OnCustomValue="@(async (i) => {WorkDto.IdРецензентов[i] = -1; await SaveStateWorkDTO();})"
                                                      Disabled="@disabled" />
                        </div>
                    }
                </div>

                <div class="col-md-6">
                    <div class="row mb-2">
                        <!-- Студент -->
                        <div class="col">
                            @if (!WorkDto.IsNewUser)
                            {
                                <label class="form-label mb-0 mx-1 fw-bold">Студент <span class="text-danger">*</span></label>
                                <SearchableSelect TItem="Студент"
                                                  TValue="int?"
                                                  Items="@filteredStudents"
                                                  TextSelector="@((s) => studentDtoFactory!.CreateDisplayDtoAsync(s).Result.Пользователь.ФИО)"
                                                  ValueSelector="@(s => s.IdСтудента)"
                                                  Placeholder="@(WorkDto.IdТипаРаботы == null ? "Сначала выберите тип работы" : (filteredStudents.Count == 0 ? "Нет учащихся студентов" : "Выберите или введите студента..."))"
                                                  IsInvalid="@(WorkDto.IdСтудента == null)"
                                                  @bind-SelectedValue="@WorkDto.IdСтудента"
                                                  @bind-SelectedValue:after="@(async () => {await OnStudentChanged(WorkDto.IdСтудента);HandleValidationRequested(editContext, new());})"
                                                  OnCustomValue="@(() => WorkDto.IdСтудента = null)"
                                                  Disabled="@(disabled || WorkDto.IdТипаРаботы == null)" />
                                <ValidationMessage For="() => WorkDto.IdСтудента" />
                            }
                            else
                            {
                            
                                <label for="surname" class="form-label mx-1 mb-0 fw-bold">Фамилия <span class="text-danger">*</span></label>
                                <InputText @bind-Value="WorkDto.Surname" class="form-control" id="surname"
                                           @bind-Value:after="@(async () => await SaveStateWorkDTO())" />
                                <ValidationMessage For="() => WorkDto.Surname" />

                            
                                <label for="name" class="form-label mx-1 mb-0 fw-bold">Имя <span class="text-danger">*</span></label>
                                <InputText @bind-Value="WorkDto.Name" class="form-control" id="name"
                                           @bind-Value:after="@(async () => await SaveStateWorkDTO())" />
                                <ValidationMessage For="() => WorkDto.Name" />
                            
                                <label for="patronymic" class="form-label mx-1 mb-0 fw-bold">Отчество</label>
                                <InputText @bind-Value="WorkDto.Patronymic" class="form-control" id="patronymic"
                                           @bind-Value:after="@(async () => await SaveStateWorkDTO())" />
                            }

                            <div class="form-check mt-1">
                                <InputCheckbox class="form-check-input"
                                               @bind-Value="WorkDto.IsNewUser"
                                               @bind-Value:after="@(async () => await SaveStateWorkDTO())"
                                               id="flexCheckDefault" />
                                <label class="form-check-label" for="flexCheckDefault">
                                    Добавить нового студента?
                                </label>
                            </div>
                        </div>

                        <!-- Год выпуска -->
                        <div class="col-md-3">
                            <label class="form-label mb-0 mx-1 fw-bold">Год выпуска <span class="text-danger">*</span></label>
                            <InputSelect class="form-select" @bind-Value="WorkDto.ГодВыпуска"
                                         @bind-Value:after="@(async () => await SaveStateWorkDTO())"
                                         disabled="@(disabled || WorkDto.IdТипаРаботы == null)">
                                <option value=""></option>
                                @for (int year = DateTime.Now.Year; year >= DateTime.Now.Year - 50; year--)
                                {
                                    <option value="@year">@year</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => WorkDto.ГодВыпуска" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <!-- Форма обучения -->
                        <div class="col-md-6">
                            <label class="form-label mb-0 mx-1 fw-bold">Форма обучения <span class="text-danger">*</span></label>
                            <InputSelect class="form-select" @bind-Value="WorkDto.IdФормыОбучения"
                                         @bind-Value:after="@(async () => await SaveStateWorkDTO())"
                                         disabled="@(disabled || WorkDto.IdТипаРаботы == null)">
                                <option value="">Выберите форму</option>
                                @foreach (ФормаОбучения educationForm in snapshot.EducationForms)
                                {
                                    <option value="@educationForm.IdФормыОбучения">@educationForm.Название</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => WorkDto.IdФормыОбучения" />
                        </div>

                        <!-- Уровень образования -->
                        <div class="col-md-6">
                            <label class="form-label mb-0 mx-1 fw-bold">Уровень образования <span class="text-danger">*</span></label>
                            <InputSelect class="form-select" @bind-Value="WorkDto.IdУровняОбразования"
                                         @bind-Value:after="@(async () => await SaveStateWorkDTO())"
                                         disabled="@(disabled || WorkDto.IdТипаРаботы == null)">
                                <option value="">Выберите уровень</option>
                                @foreach (УровеньОбразования educationLevel in filteredEducationLevels)
                                {
                                    <option value="@educationLevel.IdУровняОбразования">@educationLevel.Название</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => WorkDto.IdУровняОбразования" />
                        </div>
                    </div>

                    <!-- Институт -->
                    <div class="row-md-6 mb-2">
                        <label class="form-label mb-0 mx-1 fw-bold">Институт <span class="text-danger">*</span></label>
                        <InputSelect class="form-select" @bind-Value="WorkDto.IdИнститута"
                                     @bind-Value:after="OnInstituteChanged"
                                     disabled="@(disabled || WorkDto.IdТипаРаботы == null || disableInstitute)">
                            <option value="">Выберите институт</option>
                            @foreach (Институт institute in snapshot.Institutes.OrderBy(x => x.Название))
                            {
                                <option value="@institute.IdИнститута">@institute.Название</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => WorkDto.IdИнститута" />
                    </div>

                    <!-- Выпускающая кафедра -->
                    <div class="row-md-6 mb-2">
                        <label class="form-label mb-0 mx-1 fw-bold">Выпускающая кафедра <span class="text-danger">*</span></label>
                        <InputSelect class="form-select" @bind-Value="WorkDto.IdКафедры"
                                     @bind-Value:after="OnDepartmentChanged"
                                     disabled="@(disabled || WorkDto.IdИнститута == null || disableDepartment)">
                            <option value="">
                                @(WorkDto.IdИнститута == null ? "" : "Выберите кафедру")
                            </option>
                            @foreach (Кафедра dept in filteredDepartments.OrderBy(x => x.Название))
                            {
                                <option value="@dept.IdКафедры">@dept.Название</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => WorkDto.IdКафедры" />
                    </div>

                    <div class="row mb-2">
                        <!-- Стандарт УГСН -->
                        <div class="col-md-6">
                            <label class="form-label mb-0 mx-1 fw-bold">Стандарт УГСН <span class="text-danger">*</span></label>
                            <InputSelect class="form-select" @bind-Value="WorkDto.IdУгснСтандарта"
                                         @bind-Value:after="OnUgsnStandardChanged"
                                         disabled="@(disabled || WorkDto.IdКафедры == null)">
                                <option value="">@(WorkDto.IdКафедры == null ? "" : "Выберите стандарт УГСН")</option>
                                @foreach (УгснСтандарт standard in snapshot.UgsnStandards.OrderBy(x => x.Название))
                                {
                                    <option value="@standard.IdУгснСтандарта">@standard.Название</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => WorkDto.IdУгснСтандарта" />
                        </div>

                        <!-- УГСН -->
                        <div class="col-md-6">
                            <label class="form-label mb-0 mx-1 fw-bold">УГСН <span class="text-danger">*</span></label>
                            <InputSelect class="form-select" @bind-Value="WorkDto.IdУгсн"
                                         @bind-Value:after="OnUgsnChanged"
                                         disabled="@(disabled || WorkDto.IdУгснСтандарта == null)">
                                <option value="">@(WorkDto.IdУгснСтандарта == null ? "" : "Выберите УГСН")</option>
                                @foreach (Угсн ugsn in filteredUgsns.OrderBy(x => x.Название))
                                {
                                    <option value="@ugsn.IdУгсн">@ugsn.Название</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => WorkDto.IdУгсн" />
                        </div>
                    </div>

                    <!-- Направление подготовки -->
                    <div class="row-md-6 mb-2">
                        <label class="form-label mb-0 mx-1 fw-bold">Направление подготовки/специальность <span class="text-danger">*</span></label>
                        <InputSelect class="form-select" @bind-Value="WorkDto.IdНаправления"
                                     @bind-Value:after="OnDirectionChanged"
                                     disabled="@(disabled || WorkDto.IdУгсн == null)">
                            <option value="">@(WorkDto.IdУгсн == null ? "" : "Выберите направление/специальность")</option>
                            @foreach (Направление direction in filteredDirections.OrderBy(x => x.Название))
                            {
                                <option value="@direction.IdНаправления">@direction.Название</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => WorkDto.IdНаправления" />
                    </div>

                    <!-- Профиль -->
                    <div class="row-md-6 mb-2">
                        <label class="form-label mb-0 mx-1 fw-bold">Профиль/магистерская программа/специализация</label>
                        <InputSelect class="form-select" @bind-Value="WorkDto.IdПрофиля"
                                     @bind-Value:after="OnProfileChanged"
                                     disabled="@(disabled || WorkDto.IdНаправления == null)">
                            <option value="">@(WorkDto.IdНаправления == null ? "" : "Выберите профиль/магистерскую программу/специалзиацию (необязательно)")</option>
                            @foreach (Профиль profile in filteredProfiles.OrderBy(x => x.Название))
                            {
                                <option value="@profile.IdПрофиля">@profile.Название</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <!-- Загрузка файлов с папки -->
            <div class="row mb-1 mt-4">
                <div class="col-12">
                    <FolderFileSelector OnFilesConfirmed="@OnFilesConfirmed"
                                        Disabled="@(disabled || WorkDto.IdТипаРаботы == null)"
                                        SettingsFiles="@(SettingsFiles)"
                                        WorkType="@workType"
                                        RequiredFilesEnabled="!IsEdit"
                                        ExplanatoryNotePdfAdded="WorkDto.TempFileWithTitle != null" />
                </div>
            </div>

            @if (errorMessage != null && successMessage == null)
            {
                <div class="alert alert-danger">@errorMessage</div>
            }
            <ValidationSummary class="alert alert-danger" />

            <!-- Выбранные файлы с папки -->
            @if (selectedFiles.Count != 0)
            {
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 40%">Выбранный файл</th>
                                        <th style="width: 20%">Тип файла</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (uploadResult != null && uploadResult.FileResults.Count != 0 && !token.IsCancellationRequested)
                                    {
                                        @foreach (FileUploadResult result in uploadResult.FileResults)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        @result.OriginalFileName -&nbsp;
                                                        @if (result.Success)
                                                        {
                                                            <span class="text-success">
                                                                <i class="bi bi-check-circle"></i> Загружен
                                                                (@(result.FileSize / 1024) KB)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger">
                                                                <i class="bi bi-exclamation-triangle"></i>
                                                                @result.ErrorMessage
                                                            </span>
                                                        }
                                                    </div>
                                                </td>
                                                <td>@result.FileTypeName</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var file in selectedFiles)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        @(file.Name)&nbsp;
                                                        @if (isUploading && uploadingFile.ContainsKey(file.Name))
                                                        {
                                                            <span>@string.Format("{0:P0}", uploadingFile[file.Name])</span>
                                                        }
                                                    </div>
                                                </td>
                                                <td>@file.DisplaySelectedType</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

            <!-- Загруженные файлы с папки -->
            @if (uploadedFiles.Count != 0)
            {
                <div class="d-flex justify-content-center">
                    <div class="alert alert-@(hashVerificationResult.IsValid ? "success" : "danger")">
                        @hashVerificationResult.Message
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 40%">Загруженный файл</th>
                                        <th style="width: 20%">Действия</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var file in uploadedFiles)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    @file.Name
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger" @onclick="() => { filesForDelete.Add(file); uploadedFiles.Remove(file); }">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else if (IsEdit)
            {
                <div class="d-flex justify-content-center">
                    <h5 class="fw-semibold mb-2">У работы нет файлов</h5>
                </div>
            }

            
            <div class="container mb-4">
                <span class="fw-bold">Как будут добавлены атрибуты работы?</span>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                               checked="@(typeAddAttributes == TypeAddAttributes.Handle)"
                               @onchange="@(() => typeAddAttributes = TypeAddAttributes.Handle)" />
                        <label class="form-check-label" for="inlineRadio1">Вручную</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                               checked="@(typeAddAttributes == TypeAddAttributes.AI)"
                               @onchange="@(() => typeAddAttributes = TypeAddAttributes.AI)" />
                        <label class="form-check-label" for="inlineRadio2">С помощью ИИ</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"
                               checked="@(typeAddAttributes == TypeAddAttributes.Template)"
                               @onchange="@(() => typeAddAttributes = TypeAddAttributes.Template)" />
                        <label class="form-check-label" for="inlineRadio3">С помощью характеристики работы</label>
                    </div>
                </div>
            </div>

            <!-- Кнопки действий -->
            <div class="row mt-1">
                <div class="col-12 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" disabled="@(isSubmitting || disabled || (!IsEdit && selectedFiles.Count == 0))">
                        @if (isSubmitting)
                        {
                            <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                        }
                        else
                        {
                            <i class="bi bi-save me-2"></i>
                        }
                        Сохранить работу
                    </button>

                    @if (isSubmitting)
                    {
                        <button type="button" class="btn btn-secondary" @onclick="Cancel">
                            <i class="bi bi-x-circle"></i> Отмена
                        </button>
                    }
                </div>
            </div>
        </EditForm>
    }
}

@code {
    #region Переменные

    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    [Parameter] public WorkCreateDto WorkDto { get; set; } = new();
    [Parameter] public EventCallback<WorkCreateDto> WorkDtoChanged { get; set; }
    [Parameter] public string SessionStoreNameWorkDTO { get; set; } = "workDTO";
    [Parameter] public Func<Task>? EndEdit { get; set; }
    [Parameter] public bool IsEdit { get; set; } = false;
    [Parameter] public bool JustWatch { get; set; } = false;

    private TeacherDtoFactory? teacherDtoFactory;
    private StudentDtoFactory? studentDtoFactory;
    private bool disabled => WorkDto.IdРаботы != 0 && !IsEdit;
    private bool disableInstitute = false;
    private bool disableDepartment = false;

    private ReferenceDataSnapshot snapshot = null!;
    private BaseSettings SettingsFiles = new();

    private TeacherDisplayDto? selectedTeacher;
    private List<Пользователь> users = null!;
    private List<Студент> filteredStudents = new();
    private List<Преподаватель> filteredTeachers = new();
    private List<УровеньОбразования> filteredEducationLevels = new();
    private List<Угсн> filteredUgsns = new();
    private List<Направление> filteredDirections = new();
    private List<Профиль> filteredProfiles = new();
    private List<Кафедра> filteredDepartments = new();
    private string workType = "";
    private bool isFqp = false;
    private bool hasCR = false;
    private bool isSubmitting = false;
    private bool waitAddWork = false;

    private WorkCreateDto? workDtoOriginal;
    private List<FileInfo> uploadedFiles = new();
    private List<FileInfo> filesForDelete = new();
    private HashVerificationResult hashVerificationResult = new();

    private bool isUploading;
    private Dictionary<string, decimal> uploadingFile = new();
    private FileUploadWithHashResult? uploadResult;
    private List<SelectedFileInfo> selectedFiles = new();

    private string? aiError;
    private ExtractTitleResult? aiResult;
    private string? aiStatus;
    private string? aiTaskId;
    private bool aiSuccess;
    private bool aiRunning;
    private bool aiConnecting;

    EditContext? editContext;
    ValidationMessageStore? messageStore;
    private string? errorMessage;
    private string? successMessage;

    CancellationTokenSource cancelTokenSource = new CancellationTokenSource();
    CancellationToken token;

    TypeAddAttributes typeAddAttributes = TypeAddAttributes.Handle;
    enum TypeAddAttributes
    {
        Handle,
        AI,
        Template
    };

    #endregion

    #region Инициализация/Обновление элемента

    protected override async Task OnInitializedAsync()
    {
        teacherDtoFactory = new(RefDataService);
        studentDtoFactory = new(RefDataService);

        await UpdateData();

        FileUploadService.ProgressChanged += OnUploadProgressChanged;
        RefDataService.TablesChanged += OnTablesChanged;

        if (IsEdit)
        {
            workDtoOriginal = new(WorkDto);
            if (workDtoOriginal.Местоположение is not null)
                uploadedFiles = FileUploadService.GetFiles(workDtoOriginal.Местоположение);
            if (uploadedFiles.Count != 0)
                hashVerificationResult = await FileUploadService.VerifyUploadedFilesAsync(workDtoOriginal.Эцп ?? "", workDtoOriginal.Местоположение!);
            await OnWorkTypeChanged();
            await UpdateDependentLists();
            await SetSettingsFiles();
        }

        editContext = new(WorkDto);
        messageStore = new(editContext);
        editContext.OnValidationStateChanged += HandleValidationRequested;
    }

    private async Task UpdateData()
    {
        snapshot = await RefDataService.GetSnapshotAsync();
        users = await RefDataService.GetAsync<Пользователь>();
        filteredEducationLevels = snapshot.EducationLevels;
        filteredTeachers = snapshot.Teachers.OrderBy(s => users.First(u => u.IdПользователя == s.IdПользователя).Фамилия).ToList();

        if (!IsEdit)
        {
            var result = await ProtectedSessionStore.GetAsync<WorkCreateDto>(SessionStoreNameWorkDTO);
            if (result.Success)
            {
                WorkDto = result.Value!;
                await OnWorkTypeChanged();
            }
        }

        if (WorkDto.TempFileWithTitle != null)
        {
            AddTempFile();
        }

        if (WorkDto.IdСтатусаРаботы == -1)
            WorkDto.IdСтатусаРаботы = snapshot.WorkStatuses.First(ws => ws.Название == Settings.WorkOnReviewStatus).IdСтатусаРаботы;

        await SetStructuresByRole();
        await UpdateDependentLists();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (WorkDto.IdСтатусаРаботы == -1)
        {
            uploadResult = null;
            if (WorkDto.TempFileWithTitle != null)
            {
                FileUploadService.CleanupTempFilesAsync(WorkDto.TempFileWithTitle.SessionId);
                WorkDto.TempFileWithTitle = null;
            }
            aiStatus = aiError = aiTaskId = null;
            aiSuccess = false;
            successMessage = null;
            selectedFiles = new();
            isFqp = hasCR = false;
            workType = "";
            WorkDto.IdСтатусаРаботы = snapshot.WorkStatuses.First(ws => ws.Название == Settings.WorkOnReviewStatus).IdСтатусаРаботы;
            await SetStructuresByRole();
            editContext = new(WorkDto);
            messageStore = new(editContext);
        }
        else if (WorkDto.TempFileWithTitle != null && !selectedFiles.Exists(x => x.IsTempFile) && WorkDto.IdРаботы == 0)
        {
            AddTempFile();
            await SetStructuresByRole();
        }
        else if (IsEdit)
        {
            await SetDataForEdit();
        }
        StateHasChanged();
    }

    private async Task SetDataForEdit()
    {
        uploadResult = null;
        successMessage = null;
        selectedFiles = new();

        workDtoOriginal = new(WorkDto);
        if (workDtoOriginal.Местоположение is not null)
            uploadedFiles = FileUploadService.GetFiles(workDtoOriginal.Местоположение);
        if (uploadedFiles.Count != 0)
            hashVerificationResult = await FileUploadService.VerifyUploadedFilesAsync(workDtoOriginal.Эцп ?? "", workDtoOriginal.Местоположение!);

        editContext = new(WorkDto);
        messageStore = new(editContext);
        editContext.OnValidationStateChanged += HandleValidationRequested;
        await OnWorkTypeChanged();
        await UpdateDependentLists();
        await SetSettingsFiles();
    }

    #endregion

    #region Обновление данных

    private async Task SaveStateWorkDTO()
    {
        if (!IsEdit)
        {
            await WorkDtoChanged.InvokeAsync(WorkDto);
            await ProtectedSessionStore.SetAsync(SessionStoreNameWorkDTO, WorkDto);
        }
    }

    private async Task SetStructuresByRole()
    {
        AuthenticationState? authState = await authenticationState!;
        ClaimsPrincipal user = authState!.User;

        if (user.IsInRole(Settings.RoleAdminName))
        {
            await UpdateDependentLists();
            await SetSettingsFiles();
            await SaveStateWorkDTO();
            return;
        }

        int idUser = int.Parse(user.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value);
        Преподаватель? teacher = (await UserService.GetTeacherAsync(idUser)).FirstOrDefault(x => x.Активно == true);

        if (teacher == null)
        {
            Navigation.NavigateTo("/logout", true);
            return;
        }

        WorkDto.IdИнститута = teacher.IdИнститута;
        disableInstitute = true;
        if (user.IsInRole(Settings.RoleInstituteResponsibleName))
        {
            await UpdateDependentLists();
            filteredStudents = filteredStudents
                .Where(x => x.IdИнститута == teacher.IdИнститута).ToList();

            await SetSettingsFiles();
            await SaveStateWorkDTO();
            return;
        }

        if (user.IsInRole(Settings.RoleDepartmentHeadName) || user.IsInRole(Settings.RoleDepartmentResponsibleName))
        {
            WorkDto.IdКафедры = teacher.IdКафедры;
            await UpdateDependentLists();
            disableDepartment = true;
            filteredStudents = filteredStudents
                .Where(x => x.IdИнститута == teacher.IdИнститута && x.IdКафедры == teacher.IdКафедры).ToList();

            await SetSettingsFiles();
            await SaveStateWorkDTO();
            return;
        }
    }

    private async Task UpdateDependentLists()
    {
        filteredStudents = snapshot.Students.OrderBy(s => users.First(u => u.IdПользователя == s.IdПользователя).Фамилия).ToList();

        if (!WorkDto.IdИнститута.HasValue)
            filteredDepartments = snapshot.Departments.ToList();
        else
        {
            filteredDepartments = snapshot.Departments
            .Where(d => d.IdИнститута == WorkDto.IdИнститута)
            .DistinctBy(d => d.Название)
            .ToList();

            filteredStudents = filteredStudents.Where(x => x.IdИнститута == WorkDto.IdИнститута).ToList();
        }

        if (WorkDto.IdКафедры.HasValue)
            filteredStudents = filteredStudents.Where(x => x.IdКафедры == WorkDto.IdКафедры).ToList();

        if (!WorkDto.IdУгснСтандарта.HasValue)
            filteredUgsns = snapshot.Ugsns;
        else
        {
            filteredDirections = snapshot.Directions
                .Where(d => d.IdКафедры == WorkDto.IdКафедры)
                .ToList();

            List<int> idUgsns = filteredDirections.Select(x => x.IdУгсн).ToList();
            filteredUgsns = snapshot.Ugsns
                .Where(u => u.IdУгснСтандарта == WorkDto.IdУгснСтандарта && idUgsns.Contains(u.IdУгсн))
                .ToList();

            filteredStudents = filteredStudents.Where(x => x.IdНаправления == WorkDto.IdНаправления).ToList();
        }

        if (!WorkDto.IdУгсн.HasValue)
            filteredDirections = snapshot.Directions;
        else
        {
            filteredDirections = snapshot.Directions
            .Where(d => d.IdКафедры == WorkDto.IdКафедры && d.IdУгсн == WorkDto.IdУгсн)
            .ToList();

            filteredStudents = filteredStudents.Where(x => x.IdНаправления == WorkDto.IdНаправления).ToList();
        }

        if (!WorkDto.IdНаправления.HasValue)
            filteredProfiles = snapshot.Profiles;
        else
        {
            filteredProfiles = snapshot.Profiles
            .Where(p => p.IdНаправления == WorkDto.IdНаправления)
            .ToList();

            filteredStudents = filteredStudents.Where(x => x.IdПрофиля == WorkDto.IdПрофиля).ToList();
        }

        if (isFqp)
        {
            // Фильтруем списки студентов и уровня образования
            if (Settings.FqpWorksEducationLevels.TryGetValue(workType, out List<string>? edcucationLevels))
            {
                filteredEducationLevels = snapshot.EducationLevels
                    .Where(x => edcucationLevels.Contains(x.Название))
                    .ToList();

                List<int> fqps = snapshot.WorkTypes
                    .Where(x => Settings.FqpWorks.Contains(x.Название))
                    .Select(x => x.IdТипаРаботы).ToList();

                // Фильтр по образованию
                filteredStudents = filteredStudents
                    .Where(x => filteredEducationLevels.Select(y => y.IdУровняОбразования).Contains(x.IdУровняОбразования))
                    .OrderBy(s => users.First(u => u.IdПользователя == s.IdПользователя).Фамилия)
                    .ToList();
                if (!IsEdit && WorkDto.IdРаботы == 0)
                { // и исключение студентов, у которых уже есть выпускные работы
                    List<Работа> works = await RefDataService.GetAsync<Работа>();
                    filteredStudents = filteredStudents
                        .Where(x => !works
                            .Where(w => fqps.Contains(w.IdТипаРаботы))
                            .Select(y => y.IdСтудента).Contains(x.IdСтудента))
                        .ToList();
                }

                // Если указан существующий студент, но его не оказалось в списке,
                // то очищаем его и обновляем поля
                if (WorkDto.IdСтудента != null && !WorkDto.IsNewUser
                    && !filteredStudents.Exists(s => s.IdСтудента == WorkDto.IdСтудента))
                {
                    if (isSubmitting) Cancel();

                    WorkDto.IdСтудента = null;
                    await OnStudentChanged(null);
                    StateHasChanged();
                }
            }
        }
        else
        {
            filteredEducationLevels = snapshot.EducationLevels;
            filteredStudents = filteredStudents.OrderBy(s => users.First(u => u.IdПользователя == s.IdПользователя).Фамилия).ToList();
        }
    }

    /// <summary>
    /// Задаем настройки файлов по нисходящей
    /// если есть настройки в низшей цепи (профиле/направлении),
    /// то ставим их, если нет - предыдущую найденную
    /// </summary>
    /// <returns></returns>
    private async Task SetSettingsFiles()
    {
        SettingsFiles = Settings;

        НастройкиИнститута? instituteOrg = snapshot.SettingsInstitute.FirstOrDefault(x => x.IdИнститута == WorkDto.IdИнститута);
        if (instituteOrg != null && instituteOrg.Настройки != null)
        {
            SettingsFiles = (BaseSettings?)(await SettingsService.GetSettingsJson<SettingsInstitute>(instituteOrg.Настройки!)) ?? Settings;
        }

        if (WorkDto.IdКафедры != null)
        {
            НастройкиКафедры? departmentOrg = snapshot.SettingsDepartment.FirstOrDefault(x => x.IdКафедры == WorkDto.IdКафедры);

            if (departmentOrg != null && departmentOrg.Настройки != null)
            {
                SettingsDepartment? department = await SettingsService.GetSettingsJson<SettingsDepartment>(departmentOrg.Настройки!);
                if (department == null) return;

                SettingsFiles = (BaseSettings)department;

                if (WorkDto.IdНаправления != null)
                {
                    SettingsDirection? direction = department.SettingsDirections.FirstOrDefault(x => x.Direction.IdНаправления == WorkDto.IdНаправления);
                    if (direction == null) return;
                    SettingsFiles = (BaseSettings)direction;

                    if (WorkDto.IdПрофиля != null)
                    {
                        SettingsProfile? profile = direction.SettingsProfiles.FirstOrDefault(x => x.Profile.IdПрофиля == WorkDto.IdПрофиля);
                        if (profile == null) return;
                        SettingsFiles = (BaseSettings)profile;
                    }
                }
            }
        }
    }

    #endregion

    #region События изменения данных

    private async Task OnSkip()
    {
        WorkDto.WithoutFileWithTitle = true;
        await SaveStateWorkDTO();
        StateHasChanged();
    }

    private void AddTempFile()
    {
        if (WorkDto.TempFileWithTitle == null
            || selectedFiles.Exists(x => x.Name == WorkDto.TempFileWithTitle.OriginalFileName)) return;

        TempFileInfo file = WorkDto.TempFileWithTitle;
        selectedFiles.Add(new SelectedFileInfo
        {
            Name = file.OriginalFileName,
            Size = file.FileSize,
            Extension = Path.GetExtension(file.OriginalFileName),
            RelativePath = file.RelativePath,
            DetectedTypeKey = file.FileTypeKey,
            SelectedTypeKey = file.FileTypeKey,
            IsTempFile = true,
            TempFileInfo = file
        });
    }

    private async Task AddTempFileAndExtract()
    {
        AddTempFile();
        WorkDto.КоличСтраниц = WorkDto.TempFileWithTitle?.PageCount;
        await SaveStateWorkDTO();
        await StartTitleExtraction();
    }

    private async Task CheckWorkAdded(Работа? work = null)
    {
        work ??= (await RefDataService.GetAsync<Работа>()).FirstOrDefault(x => x.IdРаботы == WorkDto.IdРаботы);

        if (work != null && work.IdРаботы == WorkDto.IdРаботы)
        {
            errorMessage = null;
            successMessage = "Работа успешно добавлена!";
            await SaveStateWorkDTO();
            waitAddWork = false;
            StateHasChanged();
        }
    }

    private async Task OnStudentChanged(int? id)
    {
        WorkDto.IdСтудента = id;

        int? savedIdInstitute = WorkDto.IdИнститута;
        int? savedIdDepartment = WorkDto.IdКафедры;
        WorkService.SetStudent(WorkDto, id);
        if (disableInstitute) WorkDto.IdИнститута = savedIdInstitute;
        if (disableDepartment) WorkDto.IdКафедры = savedIdDepartment;

        await UpdateDependentLists();
        await SaveStateWorkDTO();
    }

    private async Task OnTeacherChanged(int? id)
    {
        selectedTeacher = await teacherDtoFactory!.CreateDisplayDtoAsync(id ?? 0);
        WorkDto.IdПреподавателя = id;
        WorkDto.IdДолжности = selectedTeacher?.Должность.IdДолжности;
        await SaveStateWorkDTO();
    }

    #region Цепочка функций, вызывающих друг друга по иерархии

    private async Task OnInstituteChanged()
    {
        WorkDto.IdКафедры = WorkDto.IdУгснСтандарта = null;
        await OnDepartmentChanged();
    }

    private async Task OnDepartmentChanged()
    {
        WorkDto.IdУгсн = null;
        await OnUgsnChanged();
    }

    private async Task OnUgsnStandardChanged()
    {
        WorkDto.IdУгсн = null;
        await OnUgsnChanged();
    }

    private async Task OnUgsnChanged()
    {
        WorkDto.IdНаправления = null;
        await OnDirectionChanged();
    }

    private async Task OnDirectionChanged()
    {
        WorkDto.IdПрофиля = null;
        await OnProfileChanged();
    }

    private async Task OnProfileChanged()
    {
        await SetSettingsFiles();
        await UpdateDependentLists();
        await SaveStateWorkDTO();
    }

    #endregion

    private async Task OnWorkTypeChanged()
    {
        string temp = snapshot.WorkTypes.Find(wt => wt.IdТипаРаботы == WorkDto.IdТипаРаботы)?.Название ?? "";
        if (workType != temp)
        {
            workType = temp;
            isFqp = Settings.FqpWorks.Contains(workType);
            hasCR = Settings.FqpWorksWithCR.Contains(workType);

            if (!hasCR)
            {
                WorkDto.IdКонсультантов = [-1];
                WorkDto.IdРецензентов = [-1];
            }

            selectedFiles.Clear();
            await UpdateDependentLists();
            await SaveStateWorkDTO();
        }
    }

    private async Task OnFilesConfirmed(List<SelectedFileInfo> selectedFiles)
    {
        this.selectedFiles = new(selectedFiles);
        AddTempFile();
        selectedFiles.Clear();

        StateHasChanged();
    }

    private async void OnUploadProgressChanged(object? sender, FileUploadProgressEventArgs e)
    {
        await InvokeAsync(() =>
        {
            uploadingFile[e.FileName] = e.ProgressPercent;
            StateHasChanged();
        });
    }

    private async void OnTablesChanged(object? sender, TableChangeEvent e)
    {
        await InvokeAsync(async () =>
            {
                // При добавлении работы ждём, когда в кэше появится добавленная работа
                if (waitAddWork && e.TableName == nameof(Работа) && e.ChangeType == TableChangeType.Insert)
                {
                    Работа? work = JsonConvert.DeserializeObject<Работа>(e.New!.ToString(),
                                new JsonSerializerSettings { ContractResolver = new DefaultContractResolver { NamingStrategy = new SnakeCaseNamingStrategy() } });
                    await CheckWorkAdded(work);
                }

                if (WorkDto.IdРаботы != 0) return;

                // Обновляем данные при изменении студентов, работ, пользователей и справочников
                if (ReferenceDataSnapshot.GetTablesName().Contains(e.TableName))
                {
                    await UpdateData();
                    StateHasChanged();
                }
                else if (e.TableName == nameof(Пользователь) || e.TableName == nameof(Работа) || e.TableName == nameof(Студент))
                {
                    if (e.TableName == nameof(Пользователь) || e.TableName == nameof(Студент))
                    {
                        users = await RefDataService.GetAsync<Пользователь>();
                        filteredStudents = snapshot.Students.OrderBy(s => users.First(u => u.IdПользователя == s.IdПользователя).Фамилия).ToList();
                        filteredEducationLevels = snapshot.EducationLevels;
                        filteredTeachers = snapshot.Teachers.OrderBy(s => users.First(u => u.IdПользователя == s.IdПользователя).Фамилия).ToList();
                        StateHasChanged();
                    }

                    await OnWorkTypeChanged();
                    StateHasChanged();
                }
            });
    }

    #endregion

    #region Обработка выставленных данных

    private void HandleValidationRequested(object? sender, ValidationStateChangedEventArgs args)
    {
        successMessage = null;
        messageStore?.Clear();

#pragma warning disable CS8603 // Возможно, возврат ссылки, допускающей значение NULL.
        if (WorkDto.IsNewUser)
        {
            if (string.IsNullOrWhiteSpace(WorkDto.Name))
            {
                messageStore?.Add(() => WorkDto.Name, "Введите имя студента");
            }

            if (string.IsNullOrWhiteSpace(WorkDto.Surname))
            {
                messageStore?.Add(() => WorkDto.Surname, "Введите фамилию студента");
            }
        }
        else
        {
            if (WorkDto.IdСтудента == null && WorkDto.IdДоступаРаботы != null)
            {
                messageStore?.Add(() => WorkDto.IdСтудента, "Выберите студента");
            }
        }
#pragma warning restore CS8603
    }

    private async Task HandleValidSubmit()
    {
        if (WorkDto.TempFileWithTitle != null && selectedFiles.Count == 1)
        {
            if (!(await JSRuntime.InvokeAsync<bool>("confirm", "Вы уверены, что загрузили все файлы работы?")))
            {
                return;
            }
        }

        isSubmitting = true;
        StateHasChanged();
        Работа work = new();
        Работа workOriginal = new();
        bool workAdded = false;

        using ArchiveFqpContext context = DbFactory.CreateDbContext();
        try
        {

            if (WorkDto.IsNewUser)
            {
                if (!(await AddUserAndStudent())) return;
            }

            // Создаем новую работу
            if (IsEdit)
            {
                work = context.Работаs.First(w => w.IdРаботы == WorkDto.IdРаботы);
                workOriginal = context.Работаs.AsNoTracking().First(w => w.IdРаботы == WorkDto.IdРаботы);
            }

            work.Тема = WorkDto.Тема;
            work.IdСтудента = WorkDto.IdСтудента!.Value;
            work.IdПреподавателя = WorkDto.IdПреподавателя!.Value;
            work.КоличСтраниц = WorkDto.КоличСтраниц;
            work.IdТипаРаботы = WorkDto.IdТипаРаботы!.Value;
            work.IdСтатусаРаботы = WorkDto.IdСтатусаРаботы;
            work.IdДолжности = workDtoOriginal is null ? WorkDto.IdДолжности!.Value : workDtoOriginal.IdДолжности!.Value;
            work.Аннотация = WorkDto.Аннотация;
            work.IdДоступаРаботы = WorkDto.IdДоступаРаботы!.Value;

            // Если есть файлы для загрузки
            if (selectedFiles.Count != 0)
            {
                if (IsEdit && WorkDto.IdСтудента != workDtoOriginal!.IdСтудента && WorkDto.Тема != workDtoOriginal!.Тема)
                    if ((await WorkService.GetWorksAsync()).FirstOrDefault(w => w.IdСтудента == work.IdСтудента && w.Тема == work.Тема) != default)
                    {
                        throw new Exception("Такая работа уже существует!");
                    }

                FileUploadWithHashResult? res = await UploadFiles();
                if (res != default)
                {
                    work.Местоположение = res.FileResults.First().RelativeFolderPath;
                    if (IsEdit)
                    {
                        work.ДатаИзменения = DateTime.Now;
                        work.Местоположение = work.Местоположение.Replace(Settings.FolderTempName, "").TrimEnd(Path.AltDirectorySeparatorChar);
                        work.Эцп = await FileUploadService.ComputeCompositeFilesHashAsync(work.Местоположение, token);
                        context.Работаs.Update(work);
                    }
                    else
                    {
                        if (WorkDto.TempFileWithTitle != null)
                        {
                            FileUploadService.MoveTempFileToWorkAsync(WorkDto.TempFileWithTitle, work.Местоположение);
                            work.Эцп = await FileUploadService.ComputeCompositeFilesHashAsync(work.Местоположение, token);
                        }
                        else
                        {
                            work.Эцп = res.HashesInfo.CompositeHash;
                        }
                        context.Работаs.Add(work);
                    }

                    await context.SaveChangesAsync();
                    workAdded = true;

                    if (hasCR) await AddConsultantsAndReviewers(context, work.IdРаботы);

                    if (IsEdit)
                    {
                        FileUploadService.MoveFilesFromTemp(work.Местоположение, work.Местоположение);
                        foreach (var file in filesForDelete)
                        {
                            // Если имя удаляемого файла совпадает с добавленным
                            // то пропускаем, т.к. он заменился и нет смысла удалять
                            if (!selectedFiles.Exists(x => x.DisplaySelectedType == file.Name.Replace(file.Extension, "")))
                                FileUploadService.DeleteFile(file.FullName);
                        }
                        await SetDataForEdit();
                        EndEdit?.Invoke();
                        isUploading = false;
                        isSubmitting = false;
                        return;
                    }

                    WorkDto.IdРаботы = work.IdРаботы;
                    waitAddWork = true;
                    while (waitAddWork)
                    {
                        await Task.Delay(300);
                        await Task.Delay(300);
                        if (!waitAddWork) break;
                        else await CheckWorkAdded();
                    }
                }
            }
            else if (IsEdit)
            {
                if (WorkDto.IdСтудента != workDtoOriginal!.IdСтудента && WorkDto.Тема != workDtoOriginal!.Тема)
                    if ((await WorkService.GetWorksAsync()).FirstOrDefault(w => w.IdСтудента == work.IdСтудента && w.Тема == work.Тема) != default)
                    {
                        throw new Exception("Такая работа уже существует!");
                    }

                work.Местоположение = uploadedFiles.Count != 0 ? WorkDto.Местоположение : null;
                work.Эцп = uploadedFiles.Count != 0 ? WorkDto.Эцп : null;
                work.ДатаИзменения = DateTime.Now;

                context.Работаs.Update(work);
                await context.SaveChangesAsync();
                workAdded = true;

                if (hasCR) await AddConsultantsAndReviewers(context, work.IdРаботы);

                foreach (var file in filesForDelete) FileUploadService.DeleteFile(file.FullName);
                EndEdit?.Invoke();
            }
            else
            {
                errorMessage = "Выберите файлы для загрузки!";
            }
        }
        catch (DbUpdateException ex)
        {
            errorMessage = ex.InnerException?.Message ?? "";

            if (errorMessage.Contains("работа_ЭЦП_key"))
                errorMessage = "Данные файлы уже принадлежат существующей работе в архиве";
            else if (errorMessage.Contains("рецензент_работа_препод_key"))
                errorMessage = "Один из рецензентов уже является рецензентом данной работы";
            else if (errorMessage.Contains("консультант_работа_препод_key"))
                errorMessage = "Один из консультантов уже является консультантом данной работы";
            else if (errorMessage.Contains("работа_работа_студента_key"))
                errorMessage = "У студента уже существует работа с этой темой";
            else if (errorMessage.Contains("работа_работа_студентов_key"))
                errorMessage = "Уже существует работа данного типа с такой темой";
            else if (errorMessage.Contains("неправильное_дата_добавления"))
                errorMessage = "Не допускается дата добавления в будущем";
            else if (errorMessage.Contains("неправильное_колич_страниц"))
                errorMessage = "Не допускается отрицательное количество страниц";
            else if (errorMessage.Contains("местоположение"))
                errorMessage = "Местоположение уже существует у одной из работ";

            await Rollback(context, work, workAdded, workOriginal);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка добавления работы");
            errorMessage = $"Ошибка при добавлении: {ex.Message}";

            await Rollback(context, work, workAdded, workOriginal);
        }
        finally
        {
            isUploading = false;
            isSubmitting = false;
            StateHasChanged();
        }
    }

    private async Task Rollback(ArchiveFqpContext context, Работа work, bool workAdded, Работа workOriginal)
    {
        if (work.Местоположение != null)
        {
            FileUploadService.DirectoryDelete(work.Местоположение, IsEdit);
        }

        await SwitchToStudent();

        if (workAdded)
        {
            if (!IsEdit)
                context.Работаs.Remove(work);
            else
            {
                work = workOriginal;
                context.Работаs.Update(work);
            }
            await context.SaveChangesAsync();
        }
    }

    private async Task<bool> AddUserAndStudent()
    {
        bool isUserAdded = false;
        Пользователь newUser = new()
        {
            Фамилия = WorkDto.Surname,
            Имя = WorkDto.Name,
            Отчество = string.IsNullOrWhiteSpace(WorkDto.Patronymic) ? null : WorkDto.Patronymic
        };

        try
        {
            await UserService.Upsert(newUser);
            Студент student = new()
            {
                IdПользователя = newUser!.IdПользователя,
                IdИнститута = WorkDto.IdИнститута!.Value,
                IdНаправления = WorkDto.IdНаправления!.Value,
                IdКафедры = WorkDto.IdКафедры!.Value,
                IdПрофиля = WorkDto.IdПрофиля,
                IdУровняОбразования = WorkDto.IdУровняОбразования!.Value,
                IdФормыОбучения = WorkDto.IdФормыОбучения!.Value,
                ГодОкончания = WorkDto.ГодВыпуска!.Value
            };
            isUserAdded = true;
            await UserService.Upsert(student);
            WorkDto.IdСтудента = student.IdСтудента;
            await SaveStateWorkDTO();
        }
        catch (DbUpdateException ex)
        {
            errorMessage = ex.InnerException?.Message ?? "";
            isSubmitting = false;
            if (isUserAdded) await UserService.Delete<Пользователь>(newUser.IdПользователя);
            StateHasChanged();
            return false;
        }
        return true;
    }

    private async Task AddConsultantsAndReviewers(ArchiveFqpContext context, int idWork)
    {
        List<Консультант> consultants = [];
        List<Рецензент> reviewers = [];

        List<int> idNewConsultants = [.. WorkDto.IdКонсультантов.Where(x => x > 0)];
        List<int> idNewReviewers = [.. WorkDto.IdРецензентов.Where(x => x > 0)];

        if (IsEdit)
        {
            idNewConsultants = [.. idNewConsultants.Where(x => !workDtoOriginal!.IdКонсультантов.Contains(x))];
            idNewReviewers = [.. idNewReviewers.Where(x => !workDtoOriginal!.IdРецензентов.Contains(x))];

            List<int> idOldConsultants = [.. workDtoOriginal!.IdКонсультантов.Where(x => x > 0 && !idNewConsultants!.Contains(x))];
            List<int> idOldReviewers = [.. workDtoOriginal!.IdРецензентов.Where(x => x > 0 && !idNewReviewers!.Contains(x))];

            List<int> idDeletedConsultants = [.. idOldConsultants.Where(x => !WorkDto.IdКонсультантов.Contains(x))];
            List<int> idDeletedReviewers = [.. idOldReviewers.Where(x => !WorkDto.IdРецензентов.Contains(x))];

            var deleteConsultants = context.Консультантs.Where(x => x.IdРаботы == idWork && idDeletedConsultants.Contains(x.IdПреподавателя));
            context.Консультантs.RemoveRange(deleteConsultants);

            var deleteReviewers = context.Рецензентs.Where(x => x.IdРаботы == idWork && idDeletedReviewers.Contains(x.IdПреподавателя));
            context.Рецензентs.RemoveRange(deleteReviewers);
        }

        foreach (int idTeacher in idNewConsultants)
        {
            Преподаватель teacher = snapshot.Teachers.First(x => x.IdПреподавателя == idTeacher);
            consultants.Add(new()
            {
                IdПреподавателя = teacher.IdПреподавателя,
                IdДолжности = teacher.IdДолжности,
                IdРаботы = idWork
            });
        }

        foreach (int idTeacher in idNewReviewers)
        {
            Преподаватель teacher = snapshot.Teachers.First(x => x.IdПреподавателя == idTeacher);
            reviewers.Add(new()
            {
                IdПреподавателя = teacher.IdПреподавателя,
                IdДолжности = teacher.IdДолжности,
                IdРаботы = idWork
            });
        }

        await context.Консультантs.AddRangeAsync(consultants);
        await context.Рецензентs.AddRangeAsync(reviewers);

        await context.SaveChangesAsync();
    }

    private async Task<FileUploadWithHashResult?> UploadFiles()
    {
        uploadResult = null;
        FileUploadWithHashResult? res = default;
        try
        {
            token = cancelTokenSource.Token;
            isUploading = true;
            StateHasChanged();

            // Получаем данные для формирования пути
            Студент student;
            if (WorkDto.IsNewUser)
            {
                while (!filteredStudents.Exists(s => s.IdСтудента == WorkDto.IdСтудента))
                    await Task.Delay(200);
                student = filteredStudents.First(s => s.IdСтудента == WorkDto.IdСтудента);
            }
            else
                student = filteredStudents.First(s => s.IdСтудента == WorkDto.IdСтудента);
            Преподаватель teacher = snapshot.Teachers.First(t => t.IdПреподавателя == WorkDto.IdПреподавателя);
            Институт institute = snapshot.Institutes.First(i => i.IdИнститута == WorkDto.IdИнститута);
            Кафедра department = filteredDepartments.First(d => d.IdКафедры == WorkDto.IdКафедры);
            УгснСтандарт ugsnStandard = snapshot.UgsnStandards.First(d => d.IdУгснСтандарта == WorkDto.IdУгснСтандарта);
            Направление direction = filteredDirections.First(d => d.IdНаправления == WorkDto.IdНаправления);
            Профиль? profile = filteredProfiles.FirstOrDefault(p => p.IdПрофиля == WorkDto.IdПрофиля);

            WorkUploadContext uploadContext = new()
            {
                Structure = new()
                {
                    Институт = institute,
                    Кафедра = department,
                    УгснСтандарт = ugsnStandard,
                    Направление = direction,
                    Профиль = profile
                },
                WorkType = workType,
                Year = WorkDto.ГодВыпуска ?? DateTime.Now.Year,
                StudentName = studentDtoFactory!.CreateDisplayDtoAsync(student).Result.Пользователь.ФИО,
                WorkTitle = WorkDto.Тема,
                IsTemp = IsEdit
            };

            foreach (var file in selectedFiles.Where(x => !x.IsTempFile))
            {
                uploadContext.AddFile(file.DisplaySelectedType, file.BrowserFile!);
            }

            FileUploadService.InitializeFileTypeConfigs(SettingsFiles, workType);

            uploadResult = await FileUploadService.UploadFilesWithHashAsync(uploadContext, token);

            if (token.IsCancellationRequested)
            {
                return res;
            }
            // Работа уже существует. Проверяется по наличию папки работы в системе.
            else if (uploadResult.SuccessCount == 0 && uploadResult.FileResults.Count == 1)
            {
                FileUploadResult file = uploadResult.FileResults.First();
                // Проверяется по сообщению о наличии работы
                if (file.ErrorMessage!.Contains("работа", StringComparison.OrdinalIgnoreCase))
                {
                    uploadResult = default;
                    throw new Exception($"{file.ErrorMessage}");
                }
                else
                    throw new Exception($"{uploadResult.FailedCount} файлов не удалось загрузить.");

            }
            else if (uploadResult.FailedCount != 0)
            {
                throw new Exception($"{uploadResult.FailedCount} файлов не удалось загрузить.");
            }

            res = uploadResult;
            return res;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка загрузки файлов");
            errorMessage = $"Ошибка при загрузке файлов: {ex.Message}";
            throw ex;
        }
        finally
        {
            await SwitchToStudent();
            isUploading = false;
            StateHasChanged();
        }
    }

    #endregion

    #region Взаимодействие с сервисом локальной ИИ

    private async Task<HealthResponse> GetHealth()
    {
        return await AiExtractorService.Health();
    }

    private async Task StartTitleExtraction()
    {
        aiSuccess = false;
        aiStatus = "Соединение с сервисом...";
        token = cancelTokenSource.Token;
        aiError = null;
        aiConnecting = true;
        StateHasChanged();

        HealthResponse response = await GetHealth();
        if (response.Status == "error" || !string.IsNullOrEmpty(response.Ollama.Error))
        {
            aiError = "Сервис извлечения данных с титульников недоступен. Приносим извинения";
            aiStatus = null;
            return;
        }

        await RunWithCancellation(async () =>
        {
            if (token.IsCancellationRequested)
            {
                aiStatus = "Извлечение титульника отменено";
                aiConnecting = false;
                return;
            }

            aiResult = null;
            aiStatus = "Извлечение титульника...";

            var task = await AiExtractorService.StartTitleExtractionAsync(WorkDto.TempFileWithTitle!.RelativePath, true, WorkDto.TempFileWithTitle.StoredFileName);
            if (!string.IsNullOrEmpty(task.Error))
            {
                aiError = task.Error;
                aiStatus = null;
                return;
            }
            else if (token.IsCancellationRequested)
            {
                aiStatus = "Извлечение титульника отменено";
                aiConnecting = false;
                return;
            }

            aiTaskId = task.TaskId;

            aiConnecting = false;
            aiRunning = true;
            StateHasChanged();
            aiResult = await PollUntilComplete(
                aiTaskId, () => AiExtractorService.GetTitleExtractionStatusAsync(aiTaskId)
            );

            // Используйте для быстрой проверки
//             string res = """
// {
//   "raw_text": "",
//     "title": {
//         "институт": "Институт Информационных технологий и коммуникаций",
//         "кафедра": "Автоматизированные системы об аботки информации и управления",
//         "направление": "09.03.04 Программная инженерия",
//         "профиль": "Разработка программно-информационных систем",
//         "типРаботы": "Бакалаврская работа",
//         "тема": "Информатическая система планирования выгрузки товаров из центрального грузового порта г. Астрахань",
//         "группа": "ДИПРб-41",
//         "автор": "Хизри Хи Хо Хузыроч",
//         "руководитель": "Куркурин Николай Дмитриевич",
//         "должностьРуководителя": "ст. преп.",
//         "год": "Н/Д"
//   }
// }
// """;
//             aiResult = JsonConvert.DeserializeObject<ExtractTitleResult>(res);
        },
        async () =>
        {
            aiStatus = "Перенос извлеченных данных...";
            aiRunning = false;
            StateHasChanged();
            await SetExtractedDatas(aiResult);
            aiStatus = "Данные извлечены и перенесены";
            aiSuccess = true;
        });
    }

    private async Task<ExtractTitleResult?> PollUntilComplete(
        string taskId, Func<Task<ExtractTitleStatusResponse>> statusFunc)
    {
        while (!token.IsCancellationRequested)
        {
            var status = await statusFunc();

            if (status.Status == "completed")
            {
                aiStatus = "Титульник извлечён";
                return status.Result;
            }

            if (status.Status == "cancelled")
            {
                aiStatus = "Извлечение титульника отменено";
                return null;
            }

            if (status.Status == "error")
            {
                aiError = $"Ошибка: {status.Error}";
                aiStatus = null;
                return null;
            }

            await Task.Delay(3000, token);
        }

        return null;
    }

    private async Task RunWithCancellation(Func<Task> action, Func<Task> cleanup)
    {
        try
        {
            await action();
        }
        catch (OperationCanceledException)
        {
            aiStatus = "Извлечение титульника отменено";
        }
        catch (Exception ex)
        {
            aiError = $"Ошибка: {ex.Message}";
            aiStatus = null;
        }
        finally
        {
            await cleanup();
            aiTaskId = null;
            StateHasChanged();
        }
    }

    private async Task CancelCurrentOperation()
    {
        Cancel();
        if (aiTaskId != null)
        {
            try
            {
                if (aiRunning)
                    await AiExtractorService.CancelTitleExtractionAsync(aiTaskId);
            }
            catch { /* игнорируем ошибки отмены */ }
        }
    }

    private async Task SetExtractedDatas(ExtractTitleResult? result)
    {
        if (result == null) return;

        TitleInfo title = result.Title;
        WorkDto.Тема = title.Тема;

        double threshold = 0.5;

        List<TeacherDisplayDto> teachersDto = await teacherDtoFactory!.CreateDisplayDtoAsync(filteredTeachers);
        (string? teacherFio, _) = StringSimilarity.FindBest(title.Руководитель, [.. teachersDto.Select(x => x.Пользователь.ФИО)], threshold);
        if (teacherFio != null)
            WorkDto.IdПреподавателя = teachersDto.First(x => x.Пользователь.ФИО == teacherFio).IdПреподавателя;

        if (title.ТипРаботы != "Н/Д")
        {
            if (title.ТипРаботы.ToLower().Contains("бакалавр")) WorkDto.IdТипаРаботы = snapshot.WorkTypes.FirstOrDefault(x => x.Название.Contains("ВКРБ"))?.IdТипаРаботы;
            else if (title.ТипРаботы.ToLower().Contains("магистр")) WorkDto.IdТипаРаботы = snapshot.WorkTypes.FirstOrDefault(x => x.Название.Contains("МД"))?.IdТипаРаботы;
            await OnWorkTypeChanged();
        }

        List<StudentDisplayDto> studentsDto = await studentDtoFactory!.CreateDisplayDtoAsync(filteredStudents);
        (string? studentFio, _) = StringSimilarity.FindBest(title.Автор, [.. studentsDto.Select(x => x.Пользователь.ФИО)], threshold);

        if (studentFio != null)
        {
            WorkDto.IdСтудента = studentsDto.First(x => x.Пользователь.ФИО == studentFio).IdСтудента;
            await OnStudentChanged(WorkDto.IdСтудента);
        }
        else
        {
            WorkDto.IsNewUser = true;
            string[] fio = title.Автор.Split(" ");
            WorkDto.Surname = fio[0];
            WorkDto.Name = fio[1];
            WorkDto.Patronymic = string.Join(" ", fio[2..]);

            (var institute, _) = StringSimilarity.FindBest(title.Институт, snapshot.Institutes, threshold);
            if (institute != null && institute.IdИнститута != WorkDto.IdИнститута && !disableInstitute)
                WorkDto.IdИнститута = institute.IdИнститута;

            (var department, _) = StringSimilarity.FindBest(title.Кафедра, snapshot.Departments, threshold);
            if (department != null && department.IdКафедры != WorkDto.IdКафедры && !disableDepartment)
                WorkDto.IdКафедры = department.IdКафедры;

            (var direction, _) = StringSimilarity.FindBest(title.Направление, snapshot.Directions, threshold);
            if (direction != null && direction.IdНаправления != WorkDto.IdНаправления) WorkDto.IdНаправления = direction.IdНаправления;

            (var profile, _) = StringSimilarity.FindBest(title.Профиль, snapshot.Profiles, threshold);
            if (profile != null && profile.IdПрофиля != WorkDto.IdПрофиля) WorkDto.IdПрофиля = profile.IdПрофиля;

            if (title.Год != "Н/Д") WorkDto.ГодВыпуска = int.Parse(title.Год);
        }
    }

    #endregion

    private async Task SwitchToStudent()
    {
        if (WorkDto.IsNewUser)
        {
            WorkDto.IsNewUser = false;
            await OnStudentChanged(WorkDto.IdСтудента);
        }
    }

    private void Cancel()
    {
        cancelTokenSource.Cancel();
        cancelTokenSource.Dispose();
        cancelTokenSource = new();
    }

    public void Dispose()
    {
        FileUploadService.ProgressChanged -= OnUploadProgressChanged;
        RefDataService.TablesChanged -= OnTablesChanged;
        cancelTokenSource.Cancel();
        cancelTokenSource.Dispose();
    }
}
